/**
 * Partners
 */
.partners {
  align-items: center;
  text-align: center;
  padding: ($spacer * 2) 0 0;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer;
  }

  &__logo {
    height: 42px;
    margin: 0 ($spacer / 2) $spacer;
    @include media-breakpoint-up(sm) {
      height: 54px;
      margin: 0 $spacer;
    }
    @include media-breakpoint-up(md) {
      margin: 0 $spacer 0 0;
    }
    @include media-breakpoint-up(lg) {
      margin: 0 ($spacer * 2) 0 0;
    }
  }
}

/**
 * Partner program
 */
.partnerprogram {
  display: flex;
  align-items: center;
  // padding-top: ($spacer * 2);
  padding-bottom: ($spacer * 2);

  // @include media-breakpoint-up(sm) {

  &__title {
    max-width: 180px;
    margin: 0;
    @extend %font-sans;
    font-weight: 800;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: -0.11px;
    color: map-get($TA-grayscale, darkest);
  }

  &__img {
    height: 36px;
    margin-right: $spacer / 1.5;
  }
}
