/**
 * Popular transfer
 */
.populartransfer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: $spacer / 2;
  border-bottom: 1px solid #fafafa;
  background: #fff;
  padding: ($grid-gutter-width-base / 1.5);

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }


  &__info {
    flex: 6;
  }

  &__actions {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
    @include media-breakpoint-down(sm) {
      padding-top: $grid-gutter-width-base / 2;
      margin-top: $grid-gutter-width-base / 2;
      margin-left: 30px;
      border-top: 1px solid #DEDEDE;
    }
  }

  &__line {
    position: relative;
    @extend %font-sans;
    @extend %text-dark;
    font-weight: bold;
    font-size: 16px;
    padding-left: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
  }

  &__from {
    margin-bottom: $spacer / 1.5;
  }

  &__to {
    margin: 0;
    .populartransfer__img {
      top: -2px;
    }
  }

  &__btn {}
}
