/**
 * Promo
 */
.promo {
  background: #F3F3F3;
  padding: $spacer;
  @extend .text-center;
  color: #F05145;

  &__amount {
    @extend %font-accent;
    font-size: 52px;
    margin: -10px;
  }
  &__title {
    font-weight: bold;
    font-size: 30px;
  }
  &__code {
    font-size: 18px;
    @extend .text-dark;
    font-weight: bold;
  }
}
