/**
 * Flags SVG
 *
 * Custom flags svgs
 * Another options would be to use: https://www.flag-sprites.com/
 */

.flagsvg {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;

  /**
   * Flag medium size
   */
  &-md {}

  /**
   * Flag large size
   */
  &-lg {}
}

/**
 * Flags per country
 */
.flagsvg-be { background-image: url(../images/flag-BE.svg) }
.flagsvg-de { background-image: url(../images/flag-DE.svg) }
.flagsvg-es { background-image: url(../images/flag-ES.svg) }
.flagsvg-fr { background-image: url(../images/flag-FR.svg) }
.flagsvg-gb { background-image: url(../images/flag-GB.svg) }
.flagsvg-it { background-image: url(../images/flag-IT.svg) }
.flagsvg-nl { background-image: url(../images/flag-NL.svg) }
.flagsvg-pt { background-image: url(../images/flag-PT.svg) }
