/**
 * Page by page tweaks
 */
.page--faq {
  .page__heading {
    padding: ($spacer * 2) 0 ($spacer / 2);
  }
}

/**
 * Join driver page
 */
.page--join-driver {
  .content__row--what {
    padding-top: 0;
  }

  @include media-breakpoint-down(sm) {
    .content__row--how {
      background: white;
    }
    .content__row--getstarted {
      background: $TA-bg--grey;
    }
  }
}

/**
 * All join pages
 */
.page--join {
  @include media-breakpoint-down(sm) {
    .content__row--what {
      .list--with-checkmarks {
        margin-top: $spacer;
      }
    }
    .content__row--offer {
      padding-top: 0;
      background: white;
      color: $text-muted;

      .title {
        color: map-get($TA-grayscale, darkest);
        font-size: 24px;
      }

      .feature-title,
      .feature-icon {
        color: map-get($TA-primary, red);
      }
    }
  }
}

/**
 * Airport landing page
 */
.page--airport {
  .intro__title {
    font-size: 36px;
  }
  .text-block {
    padding: 0 0 ($spacer * 3) 0;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-down(xs) {
    .content__row--booking {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .content__row--intro {
      padding-bottom: $spacer * 3.5;
    }
    .content__row--booking {
      .col-md-7 {
        margin-top: -($spacer * 1.5);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .content__row--intro {
      padding-bottom: $spacer * 5;
    }
    .content__row--booking {
      .col-md-7 {
        margin-top: -($spacer * 2.5);
      }
      .col-md-5 {
        margin-top: -$spacer;
      }
    }
  }
}

/**
 * About page
 */
.page--about {
  @include media-breakpoint-down(sm) {
    .content__row--cars .col-md-3 {
      margin-bottom: $spacer;
    }
  }
}

/**
 * Support page
 */
.page--support {
  @include media-breakpoint-down(sm) {
    .content__row--bordered > .container {
      padding-bottom: 0;
      // remove border on `down(sm)`
      &:after {
        display: none;
      }
    }
    .content__row--call,
    .content__row--message {
      padding-top: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    .content__row--faqmobile > .container {
      margin: 0;
    }
  }
}

/**
 * Referral page
 */
.page--referral {
  .page {
    padding-bottom: 0;
  }

  @include media-breakpoint-down(xs) {
    .content__row--balancecustomer {
      padding-bottom: 0;
    }
    .content__col--balance {
      padding-bottom: $spacer * 2.5;
    }
    .content__col--customer {
      background: #fff;
      padding-top: $spacer * 2.5;
      padding-bottom: $spacer * 2.5;
    }
  }
}
