/**
 * Payment method
 */
.paymentmethod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $spacer;
  margin-bottom: $spacer / 2;
  border-bottom: 1px solid #fafafa;

  &__info {
    > p {
      margin: ($spacer / 4) 0;
    }
  }

  &__remove {
  }
}
