/**
 * Booking breadcrumbs module
 */
$booking__breadcrumb-inactive-bg: #DEDCDC;
$booking__breadcrumb-inactive-color: #A3A2A2;
$booking__breadcrumb-active-bg: map-get($TA-primary, green);
$booking__breadcrumb-active-color: #FDFDFD;
$booking__breadcrumb-padding-vertical: $grid-gutter-width-base / 4;
$booking__breadcrumb-padding-horizontal: $grid-gutter-width-base / 5;
$booking__breadcrumb-height: 52px;
$booking__breadcrumb-trianglewidth: 8px;

.booking {
  /**
   * Breadcrumb container (`.row`)
   */
  &__breadcrumbs {
    position: relative;
    padding: 0;
    list-style: none;
    counter-reset: booking--steps;
    margin-left: -($grid-gutter-width-base / 2);
    margin-right: -($grid-gutter-width-base / 2);

    @include media-breakpoint-up(sm) {
      &.row {
        margin-left: 0;
        margin-right: 0;
      }
    }
    margin-bottom: $spacer / 1.5;
  }

  /**
   * Single breadcrumb (`.col-^`)
   */
  &__breadcrumb {
    text-align: center;
    position: relative;

    &:last-child a:before,
    &:last-child a:after {
      display: none;
    }

    a {
      position: relative;
      display: block;
      float: left;
      width: 100%;
      // border: 1px solid $booking__breadcrumb-inactive-color;
      background: $booking__breadcrumb-inactive-bg;
      color: $booking__breadcrumb-inactive-color;
      font-size: 16px;
      font-weight: bold;
      line-height: $booking__breadcrumb-height;

      // The triangular end shape (white border)
      &:before {
        z-index: 1;
        content: "";
        position: absolute;
        right: -($booking__breadcrumb-trianglewidth + 2);
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: ($booking__breadcrumb-height / 2) 0 ($booking__breadcrumb-height / 2) $booking__breadcrumb-trianglewidth;
        border-color: transparent transparent transparent #fff;
      }

      // The triangular end shape
      &:after {
        z-index: 2;
        content: "";
        position: absolute;
        right: -$booking__breadcrumb-trianglewidth;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: ($booking__breadcrumb-height / 2) 0 ($booking__breadcrumb-height / 2) $booking__breadcrumb-trianglewidth;
        border-color: transparent transparent transparent $booking__breadcrumb-inactive-bg;
      }

      /**
       * Hover/focus state
       */
      &:hover {
        text-decoration: none;
        cursor: default;
      }
      &:focus {
        text-decoration: none;
      }

      /**
       * Active / Done state (for now they look the same)
       */
      &.active,
      &.done {
        background: $booking__breadcrumb-active-bg;
        color: $booking__breadcrumb-active-color;
        cursor: default;

        &:after {
          border-color: transparent transparent transparent $booking__breadcrumb-active-bg;
        }
      }

      /**
       * Done state
       */
      &.done {
        cursor: pointer;
      }
    }
  }
}
