/**
 * Newsletter
 */
.newsletter {

  &.form-inline label {
    display: block;
  }

  > label {
    width: 100%;
    padding-bottom: $spacer / 2;
    font-size: $font-size-base;
  }
  .form-control {
    width: 100%;
    @media (min-width: 350px) {
      width: auto;
      min-width: 327px
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
    }
  }

  .btn {
    @include media-breakpoint-down(md) {
      margin-top: $spacer;
    }
  }
}
