/**
 * Customer module
 */
.customer {

  /**
   * Customer hello header
   */
  &__hello {
    @extend .text-dark;

    h1 {
      font-weight: normal;
      margin: ($spacer * 2) 0 ($spacer / 3);

      @include media-breakpoint-up(lg) {
        margin: ($spacer * 2) 0;
      }
    }
    &-title {
      font-size: 36px;
    }

    &-subtitle {
      display: block;
      font-size: 24px;
      color: #A3A2A2;
    }

    .page--customer-tripdetail & {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  /**
   * Customer tabs
   */
  &__tabs {
    > .container {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
    .page--customer-tripdetail & {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  /**
   * Customr content tab area
   */
  &__content {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 3;

    .page--customer-tripdetail & {
      @include media-breakpoint-down(xs) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .title--light {
      padding: ($spacer * 2) 0 ($grid-gutter-width / 1.5);
      margin: 0;

      &:first-of-type {
        padding-top: 0;
      }

      > a {
        font-size: 14px;
      }
    }
  }

  /**
   * customer footer (not present in the profile tab)
   */
  &__footer {
    padding: ($spacer) ($grid-gutter-width / 2);
    font-weight: bold;

    @include media-breakpoint-up(md) {
      padding: ($spacer * 2) 0;
    }

    a {
      display: block;
      padding: $spacer 0;
      @include media-breakpoint-up(md) {
        display: inline-block;
        margin-right: $spacer;
        margin-right: $spacer * 2;
      }
    }
  }

  &__block {
    padding: $grid-gutter-width / 2;
    margin: 0 !important;
    background: #fff;
    @include media-breakpoint-up(md) {
      padding: $grid-gutter-width;
    }
    @include media-breakpoint-up(lg) {
      padding: $grid-gutter-width ($grid-gutter-width * 1.5);
    }

    &-action {
      display: block;
      margin-top: $spacer;
      font-weight: bold;
    }
  }

  &__container--narrow { // `.container`
    @include media-breakpoint-up(lg) {
      max-width: 856px !important;
    }
    @include media-breakpoint-up(xl) {
      max-width: 1000px !important;
    }
  }
}
