/**
 * Expandable module
 */
.expandable {
  border-bottom: 1px solid #eee;
  // &:last-child {
  //   border-bottom: 0;
  // }

  &__list {
    @extend .list-unstyled;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: $spacer 0;
  }

  &__heading {
    margin: 0;
  }

  &__body {
    > p:last-child {
      margin-bottom: $spacer;
    }
  }

  &__toggle {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-left: $spacer;
    background-color: transparent;
    border: 0;
    color: $TA-accent;
    text-align: center;
    font-size: 28px;
    transform: rotate(45deg);
    transition: transform .18s ease-in-out;
    transform-origin: center;

    [aria-expanded="true"] & {
      transform: rotate(0);
      color: map-get($TA-grayscale, darkest);
    }

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    > .icon:before {
      content: $icon-close;
    }
  }
}