/**
 * Media object for testimonial module
 */
.media-testimonial {
  margin: $spacer 0;

  .icon {
    display: block;
    margin: -8px -17px 0 10px;
    color: #D0D2D3;
    font-size: 34px;
  }

  .media-body {
    padding: $spacer / 2;
    border-radius: $border-radius-lg * 2;
    background: #fff;
    color: lighten($body-color, 20%);
    font-style: italic;
    font-size: $font-size-sm;

    p {
      margin: 0;
    }
  }

  &:last-of-type {
    margin-bottom: $spacer;
  }
}