/**
 * Media object for trustpilot and secure payments
 */
.media-trust-payments {
  text-transform: uppercase;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-top: $spacer / 2;
  }

  > div:last-child {
    position: relative;
    padding-left: $spacer / 3;

    &:before {
      content: "";
      position: absolute;
      top: 10%;
      bottom: 0;
      left: 0;
      width: 1px;
      border-left: 1px solid darken($TA-bg--grey-light, 10%);
    }
  }

  h3 {
    font-size: $font-size-xs;
    white-space: nowrap;
    margin-bottom: $spacer / 6;
  }

  img {
    margin: 0 auto;
    // height: 60px; // @@doubt
  }
}
