/**
 * Step 2 style
 */
$booking__option-spacer: $spacer / 2;

.booking__options {
  @extend .list-unstyled;
  @include full-row-on-mobile();
}

.option {
  @extend .text-dark;
  padding: $booking__option-spacer ($booking__option-spacer/*  * 2 */);

  .media {
    border-bottom: 1px solid #DEDCDC;
    padding: 0 $booking__option-spacer;
  }

  .media-body {
    padding-left: $booking__option-spacer;
  }

  &__input {
  }

  .checkbox {
    margin-top: -11px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__name {
    @extend %font-sans;
    @include text-truncate();
    font-size: 18px;
    flex: 1;
    margin: 0;

    &-label {
      cursor: pointer;
    }
  }

  &__fee {

    > b {
      font-size: 20px
    }
  }

  &__text {
    font-size: 14px;
    color: $input-color-placeholder;
    margin-top: $booking__option-spacer / 2;
  }
}
