/**
 * Intro module (only in homepage for now)
 */
.intro {
  &__title {
    z-index: 1; // to overlap the pin.gif animation
    position: relative;
    font-size: 36px;
    margin-bottom: $spacer * 2;
    // max-width: 90%;

    @include media-breakpoint-up(md) {
      max-width: 555px;
      font-size: 44px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 710px;
      font-size: 52px;
    }

    // the highlighted word
    > mark {
      padding: 0 3px;
      background-color: $mark-bg;
      overflow: hidden;
      display: inline-block;
      height: 34px;
      margin-bottom: -5px;

      @include media-breakpoint-up(md) {
        margin-bottom: -6.5px;
        height: 42px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: -8px;
        height: 50px;
      }
    }
  }

  &__text {
    @extend %font-accent;
    margin: 0;
    // line-height: 1.25;

    @include media-breakpoint-up(md) {
      max-width: 415px;
      font-size: 21px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 590 + 82px; // 82 is the width of the pin image
      font-size: 24px;
    }
  }

  &__img {
    display: block;
    z-index: 0;
    position: absolute;
    bottom: -$spacer;
    left: 50%;
    margin: 0 auto;
    width: 126px;
    margin-left: -63px;
    @include media-breakpoint-up(lg) {
      width: 200px;
      margin-left: -100px;
    }
  }

  &--withbg {
    background-size: cover;
    background-position-y: bottom;
    margin-top: 5rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0) 100%);
    }

    .intro__title {
      position: relative;
      z-index: 1;
      margin-top: -5rem;
    }
  }
}
