/**
 * Booking module
 */
.booking {
  background: #FFDB57;
  padding: ($spacer * 1.5) ($grid-gutter-width / 2);
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 1.5);
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-up(md) {
    padding: ($spacer * 1.5) ($spacer * 1.75);
  }
  @include media-breakpoint-up(lg) {
    padding: ($spacer * 2) ($spacer * 3);
  }

  &__title {
    @extend %font-sans;
    @extend %text-dark;
    font-size: 16px;
    padding-top: $spacer / 4;

    &-sub {
      color: #666565;
      font-size: 14px;
      font-weight: normal;
      margin-left: $spacer;
    }
  }

  &__where {
    position: relative;

    .booking__title {
      padding-top: 0;
      @include media-breakpoint-up(md) {
        padding-bottom: $spacer / 2;
      }
    }

    &:before {
      @include media-breakpoint-up(md) {
        content: "";
        position: absolute;
        top: -5px;
        left: -34px;
        width: 40px;
        height: 100%;
        background: url(../images/icons/trip-dash.svg) no-repeat center center;
      }
      @include media-breakpoint-up(lg) {
        left: -37px;
      }
    }
  }

  &__switch {
    flex: 1;
    background: url(../images/icons/switch.svg) no-repeat center center;
    cursor: pointer;
    @media (max-width: 365px) {
      margin-left: -6px;
    }
  }

  &__when {
    margin-top: $spacer / 1.5;

    &--date,
    &--time {
      position: relative; // fro datetime-picker
    }

    @include media-breakpoint-down(xs) {
      &--date { // .col class
        padding-right: $grid-gutter-width-base / 4;
      }
      &--time { // .col class
        padding-left: $grid-gutter-width-base / 4;
      }
      &--date,
      &--time {
        .input-group-addon {
          width: 40px;
          padding: 10px;
        }
        .form-control {
          font-size: 14px;
          padding-left: 40px;
        }
      }
    }
  }

  &__return {
    padding: ($spacer / 2) 0;
  }

  &__info {
    font-size: 14px;
    margin: $spacer auto 0;
    @include media-breakpoint-up(md) {
      max-width: 80%;
    }
  }

  /**
   * Form tweaking
   */
  .form-group {
    margin-bottom: $spacer / 1.6;
  }
  .control-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .checkbox .control-label {
    font-weight: normal;
  }
  .form-control-custom {
    color: $TA-accent;
    border: 1px solid $TA-accent;
    @media (max-width: 365px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .btn-block {
    font-size: 18px;
  }
  .form-control[readonly] {
    background: $input-bg;
  }

  /**
   * Booking steps
   */
  &__steps {}

  &__step {
    margin-top: $spacer / 1.5;

    &-heading {
      @extend .h3;
      @extend .title;
      @extend .text-dark;

      &--light {
        color: $body-color;
      }
    }
  }

  /**
   * Booking sidebar during flow with steps
   */
  &__sidebar {
    @include media-breakpoint-up(lg) {
      padding-top: 5.3rem;
    }
  }
}
