/**
 * Booking register module
 */

.booking__register {
  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer * 2;
  }

  .booking__backnext {
    @include media-breakpoint-up(md) {
      padding: $spacer 0;
    }
  }

  &-btns {
    @include media-breakpoint-down(sm) {
      padding: ($spacer * 1.5) 0 ($spacer * 2);
    }
    @include media-breakpoint-up(md) {
      padding-right: $spacer * 1.5;
      border-right: 1px solid #BAB9B9;
    }
    @include media-breakpoint-up(lg) {
      padding-right: $spacer * 2 !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-guest {
    @include media-breakpoint-up(md) {
      padding-left: $spacer * 1.5;
    }
    @include media-breakpoint-up(lg) {
      padding-left: $spacer * 2 !important;
    }
  }

  .booking__step-heading {
    margin-bottom: $spacer * 1.5;
  }
}
