/**
 * Navbar, tweaks on top of bootstrap
 */
.navbar {
  margin-bottom: 0;
  font-size: $font-size-base;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  min-height: $TA__navbar-minheight;
  background: $TA__navbar--bg;

  > .container {
    height: $TA__navbar-minheight;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  &-header {
    float: left;
  }

  &-brand {
    @include text-hide();
    padding-right: 0;
  }

  &-toggler-right {
    position: absolute;
    top: ($TA__navbar-minheight - $TA__navbar-toggler-height) / 2;
    right: 0;
    height: $TA__navbar-toggler-height;
    width: $TA__navbar-toggler-width;
    border: 1px solid $TA__navbar-toggler-color;
    color: $TA__navbar-toggler-color;
    font-size: $TA__navbar-toggler-font-size;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  &__login {
    @include media-breakpoint-down(md) {
      margin-right: rem-convert('rem', $TA__navbar-toggler-width);//+ $spacer;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .dropdown-menu {
      position: absolute !important;
    }
  }

  .dropdown-menu {
    margin-top: -4px;
  }

  .dropdown-item .flagsvg {
    margin: -3px 7px -11px 0;
    width: 26px;
  }

  .logo {
    z-index: 1;
    position: relative;
    margin-top: 0;
    max-width: 100%;
    width: 193px;

    @include media-breakpoint-up(sm) {
      width: 285px;
    }
  }

  .nav-link {

    @include media-breakpoint-up(lg) {
      padding-left: $spacer * 1.5 !important;
      padding-right: $spacer * 1.5 !important;
    }

    // for `Login` link image
    white-space: nowrap;
    > .icon {
      position: relative;
      top: 3px;
      margin-right: 5px;
    }

  }
  .nav-item {
    .nav-link {
      font-size: 18px; // $font-size-lg;
      font-weight: normal;
      opacity: 1;
    }
  }

  /**
   * Make more space for logo and navbar toggle on very small screens
   */
  @include media-breakpoint-down(sm) {
    .navbar-brand {
      padding-left: $grid-gutter-width-base / 4;
    }
    .navbar-toggle {
      margin-right: $grid-gutter-width-base / 4;
    }
  }
}
