/**
 * Country phone media object
 */
// .media
.country-phone {
  padding: ($spacer * 1.3) ($grid-gutter-width-base / 2);
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;

  &.unbordered {
    border: 0;
  }

  @include media-breakpoint-only(xs) {
    &:nth-of-type(n+2) {
      border-top: 0;
    }
  }
  @include media-breakpoint-only(sm) {
    &:nth-of-type(n+3) {
      border-top: 0;
    }
  }
  @include media-breakpoint-up(md) {
    &:nth-of-type(n+4) {
      border-top: 0;
    }
  }

  .media-left {
    margin-right: $spacer;
  }

  .flagsvg {
    width: 32px;
    height: 32px;
  }

  .media-heading {
    margin-bottom: .3rem;
    a {
      @extend %font-bold;
      @extend .font-sans;
      color: map-get($TA-grayscale, darkest);
    }
  }

  .tel {
    @extend %font-bold;
    color: map-get($TA-grayscale, dark);// $body-color;
  }
}
