/**
 * Booking payment
 */
.booking__payment {}

.payment {

  &__heading {
    font-size: 18px;
    color: #666565;
    @extend %font-sans;
  }

  &__chooser {
    @include full-row-on-mobile();
    margin-top: $spacer;
    padding: $spacer;
    text-align: center;
    background: #F3F3F3;
  }

  &__amount {
    display: flex;

    input {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
      position: absolute;
      &:checked ~ .btn {
        background: $TA-accent;
        color: #fff;
      }
    }

    label,
    .btn {
      flex: 1;
    }
    .btn {
      width: 100%;
      background: #fff;
      border: 1px solid $TA-accent;
      color: map-get($TA-grayscale, darkest);
      cursor: pointer;
    }

    label:first-child .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    label:last-child .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-text {
      font-size: 14px;
      color: #666565;
    }
  }

  &__row {
    @include media-breakpoint-up(lg) {
      margin: 0 !important;
      background-color: #F3F3F3;
    }
  }

  &__secure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: ($spacer * 1.5) $spacer;
    @extend .text-dark;

    @include media-breakpoint-up(md) {
      min-height: 100%;
      flex-direction: column;
      text-align: center;
    }

    > p {
      padding-left: $spacer;
      margin: 0;
      max-width: 220px;
      @include media-breakpoint-up(md) {
        margin: $spacer 0;
      }
    }

    &-icon {
      width: 30px;
      @include media-breakpoint-up(md) {
        width: 39px;
      }
    }
  }

  &__fields {
    @include media-breakpoint-up(md) {
      padding-top: $spacer * 2;
    }
  }

  &__expiration {
    position: relative;

    &-divider {
      position: absolute;
      left: 0;
      top: $spacer / 1.5;
    }
  }

  &__ccv {}
}
