/**
 * Booking confirmation
 */
.booking__confirmation {}

.confirmation {
  @extend .text-dark;

  &__summary {
    padding-top: $spacer;

    .title--small {
      padding: $spacer 0 ($spacer / 3);
    }

    p {
      font-size: 24px;
    }
  }

  &__addflight {
    padding: ($spacer * 2) 0;
    @include media-breakpoint-up(md) {
      padding-top: ($spacer * 3);
    }
  }

  &__reminders {
    @include media-breakpoint-down(sm) {
      padding-bottom: $spacer * 3;
    }
  }

  &__register {
    @include media-breakpoint-up(md) {
      padding-bottom: $spacer * 3;
    }
  }

  &__register,
  &__reminders {
    .title--small {
      padding: ($spacer * 3) 0 $spacer;
    }
  }

  &__end {
    @include media-breakpoint-up(md) {
      margin-top: $spacer * 2;
      background-color: #F3F3F3;
    }
  }
}
