/**
 * Trip detail
 */
$tripdetail__border-color: #DEDCDC;
.tripdetail {
  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link-iconed {
      color: $body-color;
      margin-left: -$btn-padding-x;
      text-align: left;

      &:hover {
        color: $link-hover-color;
      }
    }
    @include media-breakpoint-down(xs) {
      padding-top: ($spacer / 2);
      padding-bottom: ($spacer / 2);
    }
  }

  &__col {
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }

  &__content {
    @extend .text-dark;
    padding: $spacer ($spacer * 2) !important;
    @include media-breakpoint-up(lg) {
      padding: $spacer ($spacer * 3) !important;
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title--light {
      padding: 0;
      flex: 1;
    }

    &--header {
      margin-bottom: $spacer / 2;
    }

    &--footer {
      margin-top: $spacer / 2;

      .tripdetail__actions {
        flex: 1;
        text-align: right;
        .btn {
          text-align: center;
        }
      }
    }
  }

  &__body {
    padding-bottom: $spacer * 2;
    border-bottom: 1px solid $tripdetail__border-color;
    @include media-breakpoint-up(md) {
      border-top: 1px solid $tripdetail__border-color;
    }

    > .row {
      border-bottom: 1px solid $tripdetail__border-color;
      margin: 0;
      padding: ($booking__summary-spacer * 2) 0;

      .summary__row {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  // tweak the summary module
  .summary__row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .summary__row--payment {
    padding-top: $booking__summary-spacer * 2;
  }

  &__actions {
    margin-right: -$btn-padding-x; // rtl
  }

  &__where {}

  &__from {
    padding: 0 !important;
    @include media-breakpoint-down(md) {
      padding-bottom: $booking__summary-spacer * 2 !important;
      margin-bottom: $booking__summary-spacer * 2;
      border-bottom: 1px solid $tripdetail__border-color;
    }
    @include media-breakpoint-up(md) {
      padding-right: $grid-gutter-width / 2 !important;
      border-right: 1px solid $tripdetail__border-color;
    }
  }

  &__to {
    padding: 0 !important;
    @include media-breakpoint-up(md) {
      padding-left: $grid-gutter-width / 2 !important;
    }
  }

  &__bar {}

  &__actions {}

}
