/**
 * Content page common style
 */
article#main {
  margin-top: $spacer;

  h1 {
    color: $TA__headings-page-title;
    font-size: 25px;
  }
}

/**
 * Content row (children of container-fluid)
 */
.content {
  &__row {
    padding: ($spacer * 2.5) 0;

    &--bordered {
      padding-bottom: 0;

      > .container {
        padding-bottom: ($spacer * 2.5);
        border-bottom: 1px solid #BAB9B9;
        @include media-breakpoint-down(sm) {
          border-bottom: 0;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: ($grid-gutter-width / 2);
            width: calc(100% - 30px); // 30 is ($grid-gutter-width / 2)
            height: 1px;
            background: #BAB9B9;
          }
        }
      }
    }
  }

  &__links {
    a {
      display: block;
      padding: ($spacer / 2) 0;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.page {
  padding-bottom: $spacer * 2;

  /**
   * Page headers (e.g. in FAQ page)
   */
  &__header {
    display: block;
    padding: ($spacer * 2) 0 $spacer;

    @include media-breakpoint-up(md) {
      padding: ($spacer * 3) 0 ($spacer * 2);

      &.page__header--grey {
        background-color: $TA-bg--grey;
      }
    }

    // adapt on mobile
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }

    &-title {
      @extend .text-dark;
      font-size: 36px;
      font-weight: 300;

      @include media-breakpoint-down(md) {
        .page__header & {
          font-size: 24px;
        }
      }
    }

    // first content row after header needs to be closer
    ~ .content__row:first-of-type {
      padding-top: 0;
    }
  }

  /**
   * Page heading (various h1, h2, h3, etc.)
   */
  &__heading {
    @extend .text-dark;
    font-weight: 300;
  }

  /**
   * Page TOC (table of contents) (e.g. in FAQ page)
   */
  &__toc {

    .page__header & {
      margin-top: $spacer;
    }

    &-title {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      color: $text-muted;
    }

    &-link {
      display: block;
      padding: ($spacer / 3) 0 ($spacer / 1.5);
      font-size: 18px;
      font-weight: bold;
      @extend .text-dark;

      @include media-breakpoint-down(sm) {
        .page__header & {
          background-color: $TA-bg--grey;
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;
        cursor: pointer;
      }

      &:before {
        @include icon-font($icon-arrow_downward);
        padding-right: $spacer / 2;
        font-weight: normal;
        font-size: 22px;
        position: relative;
        bottom: -3px;
      }
    }

    // adapt on mobile
    @include media-breakpoint-down(sm) {
      margin-left: -($grid-gutter-width-base / 2);
      margin-right: -($grid-gutter-width-base / 2);
      &-title,
      &-link {
        padding-left: ($grid-gutter-width-base / 2);
        padding-right: ($grid-gutter-width-base / 2);
      }
      &-title {
        margin-bottom: $spacer / 2;
      }
    }
  }
}
