/**
 * Transfer card
 */
.transfer {
  margin-bottom: $grid-gutter-width;

  &__inner {
    position: relative;
    padding: ($spacer * 1.25) ($spacer) $spacer ($spacer);
    padding-left: 35px; // rtl
    background: #fff;
    transition: box-shadow .18s ease-in-out;
    &:hover {
      box-shadow: 0 .25rem .5rem rgba($black,.1);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 35px;
      height: 100%;
      background: url(../images/icons/dash-line.svg) no-repeat center $spacer * 1.25;
    }
  }

  .title--small {
    margin-bottom: $spacer / 1.3;
  }

  &__info {
    font-size: 14px;
    margin: 0;

    .badge {
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  &__from {}

  &__to {}

  &__date {}

  &__time {
    margin-right: $spacer;
  }

  &__status {}

  &__actions {
    border-top: 1px solid #f2f2f2;
    padding-top: $spacer / 2;
    margin-top: $spacer;
  }

  &__action {
    font-weight: bold;
    white-space: nowrap;
    margin-right: $spacer;
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: 340px) {
      margin-right: $spacer * 2;
    }

    // managed by `.link-iconed` itself
    // .icon {
    //   font-size: 125%;
    //   margin-left: $spacer / 4;
    // }
  }
}
