/**
 * Certified partner
 */
.certifiedpartner {
  font-weight: bold;
  color: #A3A2A2;
  font-size: 14px;
  padding: 0 0 ($spacer * 1.5) 0;

  @include media-breakpoint-up(md) {
    // float: right;
    margin: ($spacer * 2) auto;
    text-align: center;
  }

  &__logo {
    height: 35px;
    margin-right: $spacer / 2;
  }

  /**
   * Specific partners styles
   */
  &--tui {
    // padding-top: $spacer;
    .certifiedpartner__logo {
      margin-top: -$spacer;
    }
  }
}
