$booking__vehicle-img-width-xs: 119px;
$booking__vehicle-img-width-md: 192px;
$booking__vehicle-img-width-lg: 144px;

/**
 * Step 1 style: vehicles list
 */
.booking__vehicles {
  @extend .list-unstyled;
  @include full-row-on-mobile();
  background: #FAFAFA;

  &-larger {
    margin: $spacer ($grid-gutter-width / 2);
    @include media-breakpoint-up(md) {
      margin: ($spacer * 2) 0 ($spacer * 3);
    }

    > .btn {
      position: relative;
      max-width: 550px;
      margin: 0 auto;
      padding-left: 60px;
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }

      @media (min-width: 350px) {
        padding-left: 80px;
      }
      @include media-breakpoint-up(md) {
        background: #F3F3F3;
        border-color: #F3F3F3;
        color: map-get($TA-grayscale, darkest);
        text-align: left;
      }

      &:before,
      &:after {
        position: absolute;
        left: $btn-padding-x;
        top: $btn-padding-y * 1.3;
        font-size: 13px;

        @media (min-width: 350px) {
          top: $btn-padding-y;
          font-size: 18px;
        }
      }

      &:before {
        @include icon-font($icon-persons);
      }
      &:after {
        @include icon-font($icon-bags);
        margin-left: 24px;
        @media (min-width: 350px) {
          margin-left: 30px;
        }
      }
    }

    .icon {
      float: right;
      &:before {
        content: $icon-arrow_drop_down;
      }
    }
    .btn[aria-expanded="true"] .icon:before {
      content: $icon-arrow_drop_up;
    }
  }
}

/**
 * Mixin for small text in vehicle card
 */
@mixin TA__vehicle-small-text () {
  font-size: 12px;
  color: $input-color-placeholder;
}

/**
 * Vehicle card
 */
.vehicle {
  position: relative;
  padding: $spacer;
  background: #FFFFFF;
  box-shadow: 0 4px 0 0 rgba(222,220,220,0.15),
    inset 0 1px 0 0 rgba(222,220,220,0.50),
    inset 0 -1px 0 0 rgba(222,220,220,0.50);
  margin-bottom: $spacer / 3;
  color: map-get($TA-grayscale, darkest);

  &:last-child {
    margin-bottom: 0;
  }

  /**
   * Media object tweaks
   */
  .media {
    &-left {}

    &-body {}

    &-bottom {
      width: 80%;
      max-width: 245px;
      margin: 0 auto 0;
      @include media-breakpoint-up(md) {
        width: auto;
        margin: -30px 0 0 $spacer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        padding-left: $booking__vehicle-img-width-md;
        padding-bottom: $spacer;
      }
      @include media-breakpoint-up(lg) {
        margin: -5px 0 0 $spacer;
        padding-left: $booking__vehicle-img-width-lg;
      }
    }
  }

  &__popular {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    background: map-get($TA-primary, yellow);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      position: relative;
      top: -4px;
      margin-left: 10px;
    }
  }

  &__img {
    display: block;
    margin-right: $spacer;
    width: $booking__vehicle-img-width-xs;
    @include media-breakpoint-up(md) {
      width: $booking__vehicle-img-width-md;
    }
    @include media-breakpoint-up(lg) {
      width: $booking__vehicle-img-width-lg;
    }
  }

  &__similar {
    text-align: center;
    @include TA__vehicle-small-text();
  }

  &__type {
    font-weight: normal;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      padding-bottom: $spacer / 5;
      border-bottom: 1px solid #BAB9B9;
      font-size: 36px;
    }
  }

  &__info {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__meta {
    font-size: 14px;
  }

  &__persons {
    margin-right: $spacer / 2;
    padding-left: 23px;
    background: url(../images/icons/persons.svg) no-repeat left center;
    background-size: 16px 100%;
  }

  &__bags {
    padding-left: 23px;
    background: url(../images/icons/bags.svg) no-repeat left center;
    background-size: 16px 100%;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // text-align: right;
    padding-top: $spacer / 2;
  }

  &__price-original {
    font-size: 18px;
    color: map-get($TA-primary, red);
    margin-right: $spacer * 1.5;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      margin-right: $spacer;
    }
  }

  &__price-final {
    font-size: 36px;
    > abbr {
      font-size: 21px;
      position: relative;
      top: -4px;
      right: -4px;
    }
  }

  &__select {
    width: 100%;
    font-size: 18px;
    @include media-breakpoint-up(md) {
      flex: 0;
      order: 1;
    }
  }

  &__why {
    display: flex;
    justify-content: space-between;
    padding: ($spacer / 3) ($spacer / 3) 0 ($spacer / 3) ;
    @include media-breakpoint-up(md) {
      flex: 1;
      order: 0;
      flex-direction: column;
      padding: 0;
    }
  }

  &__why-info {
    @include TA__vehicle-small-text();
    @include media-breakpoint-up(md) {
      padding-left: 26px;
      background: url('../images/icons/check-circle.svg') no-repeat left center;
      background-size: 18px;
      height: 20px;
      color: map-get($TA-grayscale, darkest);
      font-size: 14px;
      &:first-child {
        margin-bottom: $spacer / 4;
      }
    }
  }
}
