/**
 * Follow us
 */
.follow {

  .newsletter ~ & {
    margin-top: $spacer * 1.5;
  }

  &__item {
    vertical-align: top;
    line-height: $follow__icon-size;
    padding-right: $spacer;

    .icon {
      font-size: $follow__icon-size;
      border-radius: 100%;

      .bg-red & {
        color: white;
      }
    }
  }

  &__link {
    transition: text-shadow .1s ease-in-out;
    &:hover {
      text-shadow: 0 0 15px rgba(0,0,0,.3);
      text-decoration: none;
    }
  }
}
