/**
 * Sort of media object for feature module (in homepage)
 */
.media-feature {
  margin: $spacer 0 ($spacer * 2);

  .feature-img {
    display: block;
    margin: 0 auto;
    height: 40px;

    @include media-breakpoint-up(sm) {
      height: 32px;
    }
    @include media-breakpoint-up(md) {
      height: 42px;
    }
  }

  .feature-icon {
    display: block;
    font-size: 28px;
  }

  // .feature-img-wrap {
  //   border-bottom: 1px solid $body-color;
  // }

  .feature-title {
    margin: ($spacer * 1.5) 0 ($spacer);

    ~ p {
      margin: 0;
    }
  }

  .feature-text {
    margin: 0;
    padding-top: $spacer;
    vertical-align: middle;
    font-family: $font-family-sans-serif;
    font-weight: normal;
    line-height: 1.4rem;
    text-align: center;
    font-size: $font-size-base;
  }
}
