$TA__mobilemenu-flag-size: 24px;

/**
 * Mobile menu
 */
.mobilemenu {
  overflow: auto;

  /**
   * Close button
   */
  &__close {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    padding: 20px 20px 10px 10px;
    font-size: 27px;
    line-height: 1;
    color: #666565;
  }

  /**
   * Language selector
   */

  &__lang {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: $spacer;
      right: $spacer;
      height: 1px;
      border-bottom: 1px solid #BAB9B9;
    }

    .flagsvg {
      height: $TA__mobilemenu-flag-size;
      width: $TA__mobilemenu-flag-size;
    }

    &-current {
      padding: ($spacer * 1.5) $spacer;
      cursor: pointer;

      .icon {
        position: absolute;
        top: $spacer * 1.3;
        right: $spacer * 5;
        color: map-get($TA-grayscale, darkest);
        font-size: 23px;

        &:before {
          content: $icon-arrow_drop_down;
        }
      }
      &[aria-expanded="true"] .icon:before {
        content: $icon-arrow_drop_up;
      }
    }

    &-list {
      padding-bottom: $spacer;
    }

    &-text {
      margin-top: -$spacer;
      margin-left: $spacer / 2;
      display: inline-block;
      vertical-align: middle;
    }

    &-link {
      display: block;
      padding: ($spacer/ 2) $spacer;
      text-decoration: none;
      color: map-get($TA-grayscale, darkest);

      &:hover,
      &:active {
        text-decoration: none;
        background: #fafafa;
      }

      .flagsvg {
        margin-bottom: -6px;
        margin-right: 8px;
      }
    }
  }

  /**
   * Links list
   */
  &__list {
    list-style: none;
    padding: 0 0 ($spacer * 2) 0;
    margin: 0;
    // position: absolute;
    // top: $navbar-height;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // overflow: auto;
  }

  /**
   * List item (`<li>`)
   */
  &__item {
    list-style: none;
  }

  /**
   * List item link
   */
  &__link {
    display: block;
    color: map-get($TA-grayscale, darkest);
    font-size: 18px;
    padding: $spacer;
    &:hover {
      text-decoration: none;
    }
  }

  /**
   * List item heading
   */
  &__heading {
    font-size: 12px;
    color: #A3A2A2;
    padding: ($spacer * 1.5) $spacer 0 $spacer;
  }

  /**
   * List item image/icon
   */
  &__img {
    width: 30px;
    float: left;
    margin: ($spacer / 1.3) ($spacer / 2) 0 $spacer;
  }
}
