/**
 * Airport card
 */
.airport {
  margin: 0 0 ($grid-gutter-width-base) 0;
  @include media-breakpoint-down(md) {
    cursor: grab;
  }

  > .card {
    height: 100%;
    background: 0;
    border: none;
  }

  &__inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 146px;
    padding: $spacer;
    border: 1px solid #A3A2A2;
    background: map-get($TA-grayscale, lightest);
  }

  &:hover .airport__inner {
    // background: $TA-bg--grey-light; //map-get($TA-grayscale, light);
    text-decoration: none;
  }

  &__name {
    font-weight: 400;
    color: map-get($TA-grayscale, darkest);
    font-size: $font-size-h4;
    @extend %font-sans;
    > a {
      color: map-get($TA-grayscale, darkest);
    }
  }

  &__action {
    font-weight: bold;
    text-align: left;
    padding-left: 0;

    // .airport:hover & {
    &:hover {
      text-decoration: underline;
      color: $link-hover-color;
      cursor: pointer;
    }
  }
}
