/**
 * Page specific style: homepage
 */
.page--home {
  .content__row--intro {
    position: relative;
    z-index: 1;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    .content__row--booking {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .content__col--about {
      order: 2;
    }
    .content__col--around {
      order: 1;
    }
  }
}

/**
 * Home and airport pages
 */
.page--home,
.page--airport {
  @include media-breakpoint-down(sm) {
    .content__row--intro {
      padding-bottom: 0;
    }
    .intro__title {
      margin-bottom: $spacer * 2;
    }
    .content__row--booking .list--with-checkmarks {
      padding-top: $spacer * 2;
    }
  }

  @include media-breakpoint-up(md) {
    .content__row--booking {
      padding-top: 0;
      margin-top: $spacer;
    }
    .promo ~ .list--with-checkmarks {
      margin-top: $spacer;
    }
  }

  @include media-breakpoint-up(lg) {
    .promo ~ .list--with-checkmarks {
      margin-top: $spacer * 2;
    }
  }

  .content__row--info {
    font-size: 1.1rem;

    .col-12:first-child {
      padding-right: $spacer * 2;
      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer * 2;
      }
    }
  }

  .content__row--airports .jumbotron {
    @include media-breakpoint-down(sm) {
      max-width: none;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
  // force airports cards on one line on tablets and mobile
  @include media-breakpoint-down(md) {
    .content__row--airports {
      .carousel {
        &.row {
          display: block;
          // margin-left: 0;
          height: 186px;
          margin-bottom: $spacer;
        }
      }
      .col-lg-3 {
        overflow: visible !important;
      }
      .airport > .card {
        box-sizing: content-box;
        width: 224px + ($grid-gutter-width-base);
        max-width: 100%;
      }
      .airport__inner {
        height: 184px;
        margin: 0 $grid-gutter-width-base / 2;
      }
    }
  }
}
