/**
 * Footer
 */
.footer {
  background: $footer__bg;
  padding: ($spacer * 1.5) 0;
  // border-top: 4px solid map-get($TA-primary, red);
  @include media-breakpoint-up(md) {
    padding: $spacer * 1.5 0;
  }

  &__list {
    @extend .list-unstyled;
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(md) {
      margin-bottom: 0; // no margin when columns are besides each other
      font-size: 1.1rem;
    }

    &-title {
      font-weight: normal;
      font-size: 24px;
      color: #A3A2A2;

      @include media-breakpoint-up(md) {
        font-size: 12px;
        margin-bottom: -($spacer / 3);
      }
    }

    &-link {
      display: block;
      padding: ($spacer / 2) 0;
      @include media-breakpoint-up(md) {
        padding: ($spacer) 0;
      }
    }
  }

  a {
    color: $footer__link-color;
    @include media-breakpoint-down(sm) {
      font-weight: bold;
    }
  }

  /**
   * Footer top
   */
  &__top {
    // padding-bottom: $spacer;
    &-links {
      @include media-breakpoint-down(sm) {
        padding: ($spacer) ($spacer) ($spacer) ($grid-gutter-width-base / 2);
      }
      > a {
        display: inline-block;
        padding: ($spacer) ($spacer * 1.5);
        font-size: 18px;
        @include media-breakpoint-down(sm) {
          padding-left: 0;
        }
      }
    }
  }

  /**
   * Footer middle
   */
  &__middle {
    margin-top: $spacer;
    margin-bottom: $spacer / 2;
  }

  /**
   * Footer bottom
   */
  &__bottom {
    line-height: 1.2;
    color: #DEDCDC;

    > .col {
      margin-left: $grid-gutter-width / 2;
      margin-right: $grid-gutter-width / 2;
      padding-left: 0;
      padding-right: 0;
      border-top: 1px solid #666565;
      padding-top: $spacer;
    }
    // @include media-breakpoint-up(sm) {
    //   width: 100%;
    // }
  }
}
