/**
 * Booking summary module
 */
.booking__summary {}

.summary {
  box-shadow: 0 3px 25px -4px rgba(0,0,0,.15);
  @extend .text-dark;
  @include media-breakpoint-down(md) {
    margin-top: $spacer;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer * 2;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $booking__summary-spacer;
    background: map-get($TA-primary, yellow);
  }

  &__title {
    @extend .title;
    margin: 0;
  }

  &__edit {}

  &__datetime {
    background: #F3F3F3;
    padding: $booking__summary-spacer;
    font-size: 14px;
  }

  &__date {
    margin-right: $booking__summary-spacer;
  }

  &__time {}

  &__row {
    margin: $booking__summary-spacer;
    padding: $booking__summary-spacer;
    border-bottom: $booking__summary-border;

    &:last-child {
      @include media-breakpoint-down(sm) {
        border-bottom: 0;
      }
    }

    img {
      height: 18px;
      margin-right: $spacer;
    }

    h5 {
      @extend %font-sans;
      font-size: 14px;
      color: #A3A2A2;
    }

    h4 {
      @extend %font-sans;
      font-size: 18px;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    &--pickup {}

    &--destination {}

    &--vehicle {
      border-bottom: 0;
    }

    &--payment {
      border-top: $booking__summary-border;
      border-bottom: 0;
      margin-bottom: -$spacer;

      tr:first-child td {
        padding-top: $spacer;
      }
      td {
        padding: ($spacer / 3) $spacer ($spacer / 3) 0;
        font-size: 18px;
      }
    }
  }

  &__vehicleinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__addoptions {
    font-size: 14px;
    // margin-right: -$btn-padding-x;
    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 0;
    }

    .icon {
      position: relative;
      top: 3px;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
