/**
 * Colophon
 */
.colophon {
  padding: $spacer 0 ($spacer * 2);
  // background: $footer-bg-top; // no need, now it uses .bg-grey reusable class

  .title {
    font-size: $font-size-h3;
    padding: $spacer 0;
    margin-bottom: $spacer / 2;
  }
}
