/**
 * Booking back / next buttons/links
 */
.booking {
  &__backnext {
    // @include full-row-on-mobile();
    display: flex;
    justify-content: space-between;
  }

  /**
   * Booking back button/link
   */
  &__back {
    // flex: 1;
    color: map-get($TA-grayscale, darkest);
    font-weight: normal;
    text-align: left;
    margin-left: -$btn-padding-x;

    .icon {
      font-size: 18px;
      margin-right: 3px;
    }
  }
  /**
   * Booking next button/link
   */
  &__next {
    // flex: 1;
    text-align: left;
    // margin-right: $btn-padding-x; // to mimic the invisible padding-left of the button back which is a `.btn-link`

    .icon {
      font-size: 18px;
      margin-right: 3px;
      float: right;
    }
  }
}
