$TA-type__body: 'Nunito Sans';
$TA-type__h1-font-family: 'manifold_cfregular';
$TA-type__headings-font-family: 'manifold_cfregular'; // 'Nunito Sans';
$TA-type__headings-font-weight: 'bold';

/**
 * Bootstrap custom $variables
 * Override default values and then import them.
 *
 */
$icon-font-path: '../fonts/';

$enable-shadows: true;

// $font-size-sm: ceil(($font-size-base * 0.8));
$font-family-sans-serif: #{$TA-type__body}, "Helvetica Neue", Helvetica, Arial, sans-serif; // custom built font
$headings-font-weight: #{$TA-type__headings-font-weight};
$headings-font-family: #{$TA-type__headings-font-family}, "Helvetica Neue", Helvetica, Arial, sans-serif; // custom built font
$line-height-base: 1.4;
// $headings-line-height: 1.1;

$grid-gutter-width-base: 24px; // 24px;
$grid-gutter-width: $grid-gutter-width-base; // 60px; @@temp

$btn-font-weight: bold;
$btn-border-radius: 2px;
$btn-border-radius-lg: 2px;
$btn-border-radius-sm: 2px;
// $btn-padding-x-lg: 2rem; // 1.5rem;
$btn-padding-y-lg: .5rem; // .75rem;
// $btn-block-spacing-y: .5rem;

$input-border-radius: 2px;
$input-border-radius-lg: 2px;
$input-border-radius-sm: 2px;
$input-padding-x: .9rem;
$input-padding-y: .63rem;

$mark-padding: 0 0.1em;

$dropdown-padding-y: 1rem;
$dropdown-margin-top: 0;

$navbar-height: 72px;
$navbar-border-radius: 0;
$navbar-padding-x: 1rem;
$navbar-padding-y: 0;
$nav-link-padding: 1.6rem;

$badge-padding-x: 1em;
$badge-padding-y: .5em;

$modal-inner-padding: 1rem 1.5rem;
$modal-dialog-margin: 2rem;
$modal-dialog-sm-up-margin-y: 4rem;
// $modal-title-line-height:     $line-height-base;
// $modal-content-border-width:     $border-width;
$modal-header-padding: 2rem 1.5rem 1rem;
$modal-lg: 700px;
$modal-md: 500px;
$modal-sm: 300px;

@import "../../../node_modules/bootstrap/scss/variables";


/**
 * taxi2airport $variables (theme indipendent)
 *
 */
$TA__navbar-minheight: $navbar-height;
$TA__navbar-toggler-width: 60px;
$TA__navbar-toggler-height: 40px;
$TA__navbar-toggler-color: #666565;
$TA__navbar-toggler-font-size: 14px;

$booking__summary-spacer: $spacer / 1.5;
$booking__summary-border: 1px solid #DEDCDC;

$flag-sprite-width: 16px;
$flag-sprite-height: 11px;

$dropdown-item-padding-y: 10px;

$list--checkmark-icon-size: 28px;
$list--icons-iconwrap-gutter-left: 30px;
$list--icons-iconwrap-size: 52px;
$list--icons-icon-size: 24px;
$follow__icon-size: 32px;

// 3rd part brands colors
$brand__facebook-color: #3B5998;
$brand__google-color: #DC4E41;
$brand__linkedin-color: #0077B5;
$brand__twitter-color: #1DA1F2;

// plugin: bootstrap-datetimepicker
$border-radius-base: 2px;
$screen-sm-min: map-get($grid-breakpoints, sm);
$screen-md-min: map-get($grid-breakpoints, md);
$screen-lg-min: map-get($grid-breakpoints, lg);

// plugin: offcanvas
$offcanvas-enable-left: false;
$offcanvas-enable-right: true;
$offcanvas-enable-top: false;
$offcanvas-enable-bottom: false;
$offcanvas-enable-overlay: true;
$offcanvas-enable-push: false;
$offcanvas-enable-reveal: false;
$supportCSSTransforms: true;

// Icomoon fonts
$icons-font-name: "taxi2airport-2c";
$icomoon-font-path: "../fonts";

$icon-conversation: "\e904";
$icon-phone: "\e905";
$icon-meter: "\e908";
$icon-graph-bar: "\e90b";
$icon-airplane: "\e906";
$icon-bags: "\e907";
$icon-calendar: "\e90a";
$icon-clock: "\e90c";
$icon-flight: "\e90f";
$icon-heart: "\e910";
$icon-persons: "\e912";
$icon-plane: "\e913";
$icon-profile: "\e914";
$icon-brand-google: "\e90d";
$icon-brand-twitter: "\e900";
$icon-brand-linkedin: "\e901";
$icon-brand-google-plus: "\e902";
$icon-brand-facebook: "\e903";
$icon-schedule: "\e8b5";
$icon-add: "\e145";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-check: "\e5ca";
$icon-check_box: "\e834";
$icon-check_box_outline_blank: "\e835";
$icon-close: "\e5cd";
$icon-compare_arrows: "\e915";
$icon-help: "\e887";
$icon-indeterminate_check_box: "\e909";
$icon-info: "\e88e";
$icon-keyboard_arrow_down: "\e313";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-keyboard_arrow_up: "\e316";
$icon-warning: "\e002";
