/**
 * Theme: neutral
 */

// Custom variables
$TA-primary: (
  red: #F05145,
  yellow: #FFD447,
  green: #69D788,
  violet: #B36F9C,
  cyan: #47D1C6,
);

$TA-grayscale: (
  darkest: #2E2929,
  dark: #858383,
  neutral: #BAB9B9,
  light: #EBE9E9,
  lightest: #FFFFFF,
);
$TA-accent: map-get($TA-primary, cyan);


// Bootstrp variables
$body-bg: map-get($TA-grayscale, lightest);
$body-color: #666565; // almost black
$link-color: $TA-accent; // blue
// $headings-color: map-get($TA-grayscale, darkest);
$brand-primary: map-get($TA-primary, red); // yellow
$brand-success: map-get($TA-primary, green); // green
$brand-danger: map-get($TA-primary, red); // red
$brand-warning: map-get($TA-primary, yellow); // yellow/orange

$state-warning-bg: #FFE17E;
// $mark-bg: $state-warning-bg;
$state-danger-bg: #FCDCDA; // lighten($brand-danger, 20%);
$state-danger-border: darken($state-danger-bg, 15%);

$input-bg: #fff;
$input-border-color: #DEDCDC;
$input-color-placeholder: #A3A2A2;
$input-border-focus: #666565;
$input-box-shadow: none;
$input-box-shadow-focus: none;
// $input-color-focus: $input-color;

$text-muted: $input-color-placeholder;
$btn-secondary-color: map-get($TA-grayscale, darkest);
$btn-secondary-border: map-get($TA-grayscale, darkest);

$modal-content-border-color: rgba(0,0,0,.1);
$modal-content-xs-box-shadow:    0 3px .25rem rgba(0,0,0,.25) !default;
$modal-content-sm-up-box-shadow: 0 5px .5rem rgba(0,0,0,.15) !default;
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: .7;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;

$panel-inner-border: transparent;
$panel-footer-bg: #f5f5f5;
$panel-default-text: $body-color;
$panel-default-border: transparent;
$panel-default-heading-bg: transparent;

// Custom variables
$TA-bg--grey: #F3F3F3;
$TA-bg--grey-light: #FAFAFA;
$TA__headings-page-title: #d11242;
$TA__navbar--bg: #fff;

$input-danger-border-color: $brand-danger;

$footer__bg: map-get($TA-grayscale, darkest);
$footer__link-color: #FDFDFD;
