/**
 * List with icons
 * Used e.g. in homepage (red bg)
 */
.list--with-icons {
  @extend .list-unstyled;
  // @extend %font-bold;
  // font-size: $font-size-sm;

  > li {
    position: relative;
    margin: ($spacer * 2) 0;
    padding-left: $list--icons-iconwrap-size + $list--icons-iconwrap-gutter-left;

    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $list--icons-iconwrap-size;
      height: $list--icons-iconwrap-size;
      border-radius: 100%;
      background: white;
    }

    .icon {
      z-index: 1;
      position: absolute;
      top: ($list--icons-iconwrap-size - $list--icons-icon-size) / 2;
      left: ($list--icons-iconwrap-size - $list--icons-icon-size) / 2;
      font-size: $list--icons-icon-size;
      width: $list--icons-icon-size;
      height: $list--icons-icon-size;
      vertical-align: middle;
    }
  }
}

/**
 * List with checkmarks
 * Used e.g. within .footer-middle
 */
.list--with-checkmarks {
  @extend .list-unstyled;
  margin: 0;

  > li {
    position: relative;
    padding-left: 40px;
    margin: ($spacer * 1.5) 0;

    &:first-child {
      margin-top: 0
    }
    &:last-child {
      margin-bottom: 0
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $list--checkmark-icon-size;
      height: $list--checkmark-icon-size;
      background: url(../images/icons/check-circle.svg);
      background-size: 100%;
      // @include icon-font('\e90b'); // @@careful of symbol possible change
      // line-height: $list--checkmark-icon-size;
      // text-align: center;
      // border-radius: 100%;
      // background: $brand-success;
      // color: #fff;
    }
  }
}

/**
 * List table
 * Used e.g. in the referral page
 */
.list--table {
  @extend .list-unstyled;
  margin: 0;

  > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: ($spacer / 2) ($spacer);
    border-bottom: 1px solid #F3F3F3;

    &:last-child {
      border-bottom: 0;
    }
  }

  // span {}
  // abbr {}
}
