/**
 * Styled Radio input
 * Inspired by http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
 *
 * <div class="radio radio-custom">
    <input id="radio_id" type="radio" name="" value="">
    <div></div>
    <label for="radio_id" class="control-label">Lorem</label>
  </div>
 */
$radio--size: 18px; // $input-height-base
$radio--size-inner: $radio--size - 11;
$radio--bg: $input-bg;
$radio--bg-accent: $body-color;
$radio--border-color: $input-border-color;

/* .no-touchevents */ .radio-custom {
  position: relative;

  input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // the checked style using the :checked pseudo class
    &:checked + div:after {
      content: "";
      width: $radio--size-inner;
      height: $radio--size-inner;
      position: absolute;
      top: 50%;
      margin-top: -($radio--size-inner / 2);
      left: (($radio--size - 2) - $radio--size-inner) / 2;
      background: $radio--bg-accent;
      border-radius: $radio--size;
    }

    &:focus + div {
      border-color: $input-border-focus;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6));
    }
  }

  // the basic, unchecked style
  > div {
    position: absolute;
    top: 50%;
    left: 0;
    width: $radio--size;
    height: $radio--size;
    margin-top: -($radio--size / 2);
    border-radius:  $radio--size;
    background: $radio--bg;
    border: 1px solid $radio--border-color;
  }

  // One radio button per line
  .control-label {
    position: relative;
    z-index: 1;
    padding-left: $radio--size + 5;
  }
}
