/**
 * Styled Checkbox
 * Inspired by https://github.com/flatlogic/awesome-bootstrap-checkbox
 */
$checkbox--size: 18px;
$checkbox--bg-color: $input-bg;
$checkbox--border-color: darken($input-border-color, 15%);
$checkbox--checked-bg: $TA-accent;
$checkbox--checked-color: #fff;
$checkbox--danger-border-color: $input-danger-border-color;
$checkbox--check-font-size: 17px;
$checkbox--border-radius: $input-border-radius;

.checkbox {
  display: inline-block;

  // width: 100%;
  padding-left: $checkbox--size; // @@doubt is this needed?

  // vertically align in for with this double margin trick
  padding-top: $spacer / 2;
  margin-bottom: -($spacer / 2);

  label {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    cursor: default;

    &.control-label {
      cursor: pointer;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: $checkbox--size;
      height: $checkbox--size;
      left: 0;
      margin-left: -$checkbox--size;
      border: 1px solid $checkbox--border-color;
      background-color: $checkbox--bg-color;
      @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
      cursor: pointer;
      border-radius: $checkbox--border-radius;

      .has-danger & {
        // background-color: $state-danger-bg;
        border-color: $checkbox--danger-border-color;
        // box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-border, 20%);
      }
    }

    &::after {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: $checkbox--size;
      height: $checkbox--size;
      line-height: $checkbox--size;
      margin-left: -$checkbox--size;
      text-align: center;
      font-size: 13px;
      color: $input-color;
    }
  }

  input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;

    &:focus + label::before {
      outline: 0;
      border-color: $input-border-focus;
      box-shadow: $input-box-shadow;
    }

    &:checked + label::after,
    &[aria-expanded="true"] + label::after {
      @include icon-font($icon-check);
      background: $checkbox--checked-bg;
      color: $checkbox--checked-color;
      font-weight: bold;
      font-size: $checkbox--check-font-size;
    }

    &:disabled + label {
      opacity: 0.65;

      &::before {
        background-color: $input-bg-disabled;
        cursor: not-allowed;
      }
    }
  }
}
