/**
 * Loader module
 *
 * SVG and gif generated @ http://loading.io/
 *
 * size: 50px
 * color1: #ffffff
 * color2: #f4d235
 * bk color: #ffffff
 * length: 60
 */
.loader {
 // @todo if needed
}

.booking--summary-map,
.embed-responsive {
  background: url('../images/loader.svg') no-repeat center center;

  .no-svg & {
    background: url('../images/loader.gif') no-repeat center center;
  }
}
