/**
 * @internal
 *
 * Pseudoclasses
 */
%text-dark {
  color: map-get($TA-grayscale, darkest);
}
%font-sans {
  font-family: $font-family-sans-serif;
}
%font-accent {
  font-family: $TA-type__h1-font-family;
}

/**
 * Link iconed
 * `<a>` with inner `<i class="icon">` that does not want the underline
 * decoration on hover
 */
@if $link-hover-decoration == none {
} @else {
  .link-iconed {
    .icon {
      font-size: 125%;
    }
    .icon:last-child {
      margin-left: $spacer / 4;
    }
    .icon:first-child {
      margin-right: $spacer / 4;
    }
    &:not(.btn):hover,
    &.btn.btn-link:hover {
      text-decoration: none;
      > span {
        text-decoration: underline;
      }
    }
  }
}

/**
 * Color utils
 */
.text-dark {
  @extend %text-dark;
}

/**
 * Font families utils
 */
.font-accent {
  @extend %font-accent;
}
.font-sans {
  @extend %font-sans;
}
h1.font-sans, h2.font-sans, h3.font-sans, h4.font-sans, h5.font-sans, h6.font-sans {
  line-height: $line-height-base;
}

/**
 * Title shorthand
 */
.title {
  @extend %font-accent;
  @extend .font-weight-normal;

  &--red {
    @extend .text-primary;
  }

  &--dark {
    @extend %text-dark;
  }

  &--small {
    @extend %font-sans;
    @extend %text-dark;
    font-size: 18px;
    font-weight: bold;

    .bg-red & {
      color: #fff;
    }
  }

  &--light {
    @extend %font-sans;
    @extend .text-muted;
    font-size: 16px;
    font-weight: normal;

    > a {
      font-weight: bold;
      margin-left: $spacer; // rtl
    }
  }
}

/**
 * Text sizes
 */
.text {
  &-lg {
    font-size: $font-size-lg;
  }

  &-extrabold {
    font-weight: 800;
  }

  &-big {
    font-size: 24px;
    font-weight: bold;
    @extend .text-dark;

    li {
      margin: $spacer 0;
    }
  }
}

/**
 * Custom jumbotron (e.g. homepage 'Top Airports')
 */
.jumbotron {
  margin-left: $list--icons-iconwrap-size + $list--icons-iconwrap-gutter-left; // 10%;
  max-width: 460px;
  margin-bottom: $spacer * 2;
}

/**
 * Backgrounds
 */
.bg {
  &-white {
    background-color: #fff;
  }

  &-grey {
    background-color: $TA-bg--grey;

    &-light {
      background-color: $TA-bg--grey-light;
    }
  }

  &-red {
    background-color: map-get($TA-primary, red);
    color: #FDFDFD;
  }
}

/**
 * Buttons
 */
.btn {
  &-accent {
    @include button-variant(#fff, $TA-accent, $TA-accent);
    &.disabled,
    &[disabled] {
      background-color: #939191;
      border-color: #939191;
    }
  }
  &-dark {
    @include button-variant(#fff, map-get($TA-grayscale, darkest), map-get($TA-grayscale, darkest));
  }
  &-white-outline {
    @include button-variant(#fff, transparent, #FDFDFD);
  }
  &-fb {
    @include button-variant(#fff, $brand__facebook-color, $brand__facebook-color);
  }
  &-google {
    @include button-variant(#fff, $brand__google-color, $brand__google-color);
  }

  &-block-xs { // Block on util
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }

  &-wide {
    flex: 1;
    max-width: 250px;
    min-width: 200px;

    .d-flex > & {
      min-width: 0;
      &:first-child {
        margin-right: $grid-gutter-width / 4;
      }
      &:last-child {
        margin-left: $grid-gutter-width / 4;
      }
    }
  }

  &-iconed {
    text-align: left;

    > .icon {
      float: left;
      margin-right: $btn-padding-x;
      font-size: 22px;
    }
  }
}

/**
 * Visibility classes
 */
.visible {
  &-sm-down {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
  &-lg-up {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
