.icon {
  vertical-align: text-top; // @@doubt
}

.icon-brand-facebook {
  color: $brand__facebook-color;
  .btn-fb & {
    color: #fff;
  }
}

.icon-brand-google-plus {
  color: $brand__google-color;
  .btn-google & {
    color: #fff;
  }
}

.icon-brand-linkedin {
  color: $brand__linkedin-color;
}

.icon-brand-twitter {
  color: $brand__twitter-color;
}
