/**
 * Placeholders & mixins
 */
%font-bold { // @todo move into a different file
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

%font-normal { // @todo move into a different file
  font-family: $font-family-base;
  font-weight: normal;
}

@mixin icon-font($symbol) {
  content: "#{$symbol}";
  font-family: "#{$icons-font-name}";
}

@mixin full-row-on-mobile() {
  @include media-breakpoint-down(sm) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }
}

@mixin dropdown-common-style() {
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  // border: 1px solid $dropdown-fallback-border; // @@todo
  border: 1px solid $dropdown-border-color;
  border-radius: 0;
}
