/**
 * never scroll horizontally
 */
body {
  overflow-x: hidden;
  // padding-top: $TA__navbar-minheight;
}

h1 {
  font-family: $TA-type__h1-font-family;
}

input,
select,
textarea {
  font-family: $font-family-sans-serif;
}

/**
 * Buttons tweaks
 */
.btn {
  font-family: $font-family-sans-serif;

  &-lg {
    // font-size: $font-size-base;
    font-size: 18px;
    white-space: normal
  }

  &-disabled {
    color: #fff;
  }
}

/**
 * Labels, buttons and form labels are quite bold
 */
.label,
.btn,
.control-label {
  @extend %font-bold;
}

/**
 * Badge
 */
.badge {
  border-radius: $btn-border-radius;

  &-grey {
    @include badge-variant(#BAB8B8);
  }

  &-red {
    @include badge-variant($alert-danger-bg);
    color: $brand-danger;
  }
}

/**
 * Modal tweaks
 */
.modal-content {
  border-radius: 0;
}

/**
 * Dropdown
 */
.dropdown {
  &-item {
    padding-top: $dropdown-item-padding-y;
    padding-bottom: $dropdown-item-padding-y;
  }
}

.btn-link {
  &:hover,
  &:active {
    .icon {
      text-decoration: none;
    }
  }
}

/**
 * Nav
 */
.nav-item {
  .nav-link {
    color: map-get($TA-grayscale, darkest);
    font-weight: bold;
    opacity: .5;
    border-bottom: 2px solid transparent;
  }
  &:hover .nav-link {
    opacity: 1;
    border-color: map-get($TA-grayscale, neutral);
  }
  &.active .nav-link {
    border-color: map-get($TA-primary, red);
    opacity: 1;
    color: map-get($TA-grayscale, darkest);
    cursor: default;
    &:hover {
      // color: map-get($TA-grayscale, darkest);
      color: $body-color;
    }
  }
}
.nav-fill .nav-link {
  padding: $spacer 0;
}

/**
 * Modal
 */
.modal {
  .close {
    position: absolute;
    top: $spacer / 2;
    right: $spacer / 2;
  }

  &-title {
    font-size: 24px;
    font-weight: normal;
    @extend %font-sans;
  }

  &-footer .btn {
    flex: 1
  }

  // dark theme
  &--dark {
    .modal-header {
      background: map-get($TA-grayscale, darkest);
    }
    .close,
    .modal-header {
      color: map-get($TA-grayscale, light);
    }
  }
}
