/**
 * js-offcanvas tweaks
 *
 */
.c-offcanvas {
  z-index: $zindex-modal-backdrop + 2;

  &-bg.is-open {
    background-color: rgba(255, 255, 255, 0.93);
  }

  &--right {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.50);
  }
}
