/**
 * No box-shadow on inputs, and smaller font size
 */
.form-control {
  box-shadow: none;
  font-size: $font-size-base;

  // align custom icon on form feedback
  &-feedback:before {
    vertical-align: middle;
  }

  .input-group & {
    border-right: 0;
  }
}

/**
 * With error color input's background
 */
.has-danger {
  .input-group-addon {
    // background: $input-with-error-bg;
    border-color: $brand-danger;
    box-shadow: none;
  }
}

/**
 * Special success feedback style
 */
.has-success {
  // .control-label {
  //   color: inherit;
  // }
  .form-control,
  .form-control:focus {
    border-color: $input-border-color;
    box-shadow: none;
  }
  .form-control:focus {
    border-color: $input-border-focus;
  }
  .form-control-feedback {
    color: $brand-success;
  }
}

/**
 * Textarea resizable only vertically
 */
textarea {
  resize: vertical;
}

/**
 * Placeholders are italic
 */
// ::placeholder { font-style: italic; }
// ::-webkit-input-placeholder { font-style: italic; }
// :-moz-placeholder { font-style: italic; }
// ::-moz-placeholder { font-style: italic; }
// :-ms-input-placeholder { font-style: italic; }

.input-group--seamless {
  position: relative;

  .input-group-addon {
    background-color: $input-bg;
    border: none;
    // border-width: 1px 0 1px 1px;
    // border-style: solid;
    // border-color: $input-border-color;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 50px;
    text-align: center;
  }
  .form-control {
    border-right: 1px solid $input-border-color;
    padding-left: 50px;

    &:focus {
      border-right-color: $input-border-focus;
    }

    .has-danger & {
      border-right-color: $input-danger-border-color;
    }
  }
}

.control-label {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-size: 18px;
  @extend .text-dark;

  .checkbox & {
    font-size: 16px;
  }
  // sub label inside `.control-label`, e.g. for the words (optional)
  &-sub {
    color: $text-muted;
    font-size: 14px;
  }
}

.form-control-feedback {
  font-weight: bold;
}

.form-inline--always {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

/**
 * Radio custom buttons
 */
.control-label-custom {
  margin-right: $grid-gutter-width / 2;
  &:last-child {
    margin-right: 0;
  }

  .form-control {
    z-index: 1;
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .btn {
      background: $TA-accent;
      color: #fff;
    }
  }

  .btn {
    flex: 1;
  }
  .btn {
    width: 100%;
    background: #fff;
    // border: 1px solid $TA-accent;
    // color: map-get($TA-grayscale, darkest);
    cursor: pointer;
    padding-left: $input-padding-x * 1.5;
    padding-right: $input-padding-x * 1.5;
  }
  .icon {
    font-size: 19px;
    padding-right: 2px;
  }
  .form-control:last-child .btn {
    margin-right: 0;
  }
}
