/**
 * jQuery UI autocomplete
 *
 */
$autocomplete-flag-width: $flag-sprite-width;
$autocomplete-flag-height: $flag-sprite-height;

.ui-widget {
  @extend %font-normal;
}

.ui-menu {
  @include dropdown-common-style();
  padding: 0;
  font-size: 12px;

  /**
   * Fix glitch caused by negative margin on hover
   * in autocomplete menu
   */
  .ui-state-active,
  .ui-state-focus {
    margin: 0;
  }

  .ui-menu-item {
    padding: 0;
    // padding: 0 $dropdown-item-padding-x;
    list-style-image: none;
    // list-style-image: url('../images/icons/airplane.svg');

    &:hover {
      background: $dropdown-link-hover-bg;
    }

    &:last-child a {
      border-bottom: 0;
    }

    a {
      position: relative;
      display: block;
      min-height: 25px;
      // border-bottom: 1px solid $dropdown-divider-bg;
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;
      padding-left: 35px;
      // padding-left: $autocomplete-flag-width + rem-convert('px', $dropdown-item-padding-x);
      @include text-truncate();
      // background: url('../images/icons/airplane.svg') no-repeat 10px center;
      background-color: #F7F7F7;
      font-size: 14px;

      &:hover {
        text-decoration: none;
        background-color: #FFD447;
      }

      > img {
        margin-right: 4px;
      }
    }

    // .flagsvg {
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   margin-top: -($autocomplete-flag-height / 2);
    //   width: $autocomplete-flag-width;
    //   height: $autocomplete-flag-height;
    //   background-color: $dropdown-link-hover-bg;
    // }
  }
}

