// /*! jQuery UI - v1.12.1 - 2017-06-15
// * http://jqueryui.com
// * Includes: core.css, autocomplete.css, menu.css
// * Copyright jQuery Foundation and other contributors; Licensed MIT */

// /* Layout helpers
// ----------------------------------*/
// .ui-helper-hidden {
//   display: none;
// }
// .ui-helper-hidden-accessible {
//   border: 0;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   margin: -1px;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   width: 1px;
// }
// .ui-helper-reset {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   line-height: 1.3;
//   text-decoration: none;
//   font-size: 100%;
//   list-style: none;
// }
// .ui-helper-clearfix:before,
// .ui-helper-clearfix:after {
//   content: "";
//   display: table;
//   border-collapse: collapse;
// }
// .ui-helper-clearfix:after {
//   clear: both;
// }
// .ui-helper-zfix {
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   opacity: 0;
//   filter:Alpha(Opacity=0); /* support: IE8 */
// }

// .ui-front {
//   z-index: 100;
// }


// /* Interaction Cues
// ----------------------------------*/
// .ui-state-disabled {
//   cursor: default !important;
//   pointer-events: none;
// }


// /* Icons
// ----------------------------------*/
// .ui-icon {
//   display: inline-block;
//   vertical-align: middle;
//   margin-top: -.25em;
//   position: relative;
//   text-indent: -99999px;
//   overflow: hidden;
//   background-repeat: no-repeat;
// }

// .ui-widget-icon-block {
//   left: 50%;
//   margin-left: -8px;
//   display: block;
// }

// /* Misc visuals
// ----------------------------------*/

// /* Overlays */
// .ui-widget-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
// .ui-autocomplete {
//   position: absolute;
//   top: 0;
//   left: 0;
//   cursor: default;
// }
// .ui-menu {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: block;
//   outline: 0;
// }
// .ui-menu .ui-menu {
//   position: absolute;
// }
// .ui-menu .ui-menu-item {
//   margin: 0;
//   cursor: pointer;
//   /* support: IE10, see #8844 */
//   list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
// }
// .ui-menu .ui-menu-item-wrapper {
//   position: relative;
//   padding: 3px 1em 3px .4em;
// }
// .ui-menu .ui-menu-divider {
//   margin: 5px 0;
//   height: 0;
//   font-size: 0;
//   line-height: 0;
//   border-width: 1px 0 0 0;
// }
// .ui-menu .ui-state-focus,
// .ui-menu .ui-state-active {
//   margin: -1px;
// }

// /* icon support */
// .ui-menu-icons {
//   position: relative;
// }
// .ui-menu-icons .ui-menu-item-wrapper {
//   padding-left: 2em;
// }

// /* left-aligned */
// .ui-menu .ui-icon {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: .2em;
//   margin: auto 0;
// }

// /* right-aligned */
// .ui-menu .ui-menu-icon {
//   left: auto;
//   right: 0;
// }
