/**
 * Google maps API: pac
 *
 */
$pac--item-padding: $dropdown-item-padding-y;

.pac {
  &-container {
    @include dropdown-common-style();
    @extend %font-normal;

    // from old custom.css code
    min-width: 300px !important;
    @include media-breakpoint-up(sm) {
      min-width: 500px !important;
    }
    @include media-breakpoint-up(md) {
      min-width: 600px !important;
    }
  }

  &-item {
    margin: 0 $pac--item-padding;
    padding: $pac--item-padding / 2 0;
    border-bottom: 1px solid $dropdown-divider-bg;
    border-top: 0;
    transition: margin .18s ease, padding .18s ease;
    cursor: pointer;

    &:hover {
      margin: 0 (-$pac--item-padding);
      padding: $pac--item-padding / 2 ($pac--item-padding * 2);
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
