.hidden{display: none;}
.bold{font-weight: bold;}
.colorblack{color: #000;}
.colorwhite{color: #fff;}
// .errorfield{border: 1px solid #b84442; background-color: #fdede5;}
.errorfield{border: 1px solid $brand-danger; background-color: $input-bg;}
// .focusfield{border: 1px solid #DEDCDC; background-color: #fff;}
.focusfield{border: 1px solid $input-border-focus; background-color: $input-bg;}

// .successfield{background-color: #bcf2d5;}
.successfield{border-color: $brand-success;}
// .alert-danger{background-color: #f9dbd9 !important;}
.pull-right{float: right;}
.clear{clear: both;}
// .no_mouse_pointer{}

// #frmCalculation{background-color: #FFD447;}
// #form_roundtrip > h3{font-size: 18px;} // @deprecated: version 1
.errormessage{color: $brand-danger; font-weight: bold;}

