$datetimepicker__header-height: 40px;
$datetimepicker__header-bg: map-get($TA-grayscale, darkest);
$datetimepicker__header-color: #FDFDFD;
$datetimepicker__header-font-size: 18px;
$datetimepicker__td-color: map-get($TA-grayscale, darkest);
$datetimepicker__td-active-bg: $brand-primary;
$datetimepicker__td-active-color: $datetimepicker__header-color;
$datetimepicker__gutter: $spacer;
$datetimepicker__footer-height: 40px;
$datetimepicker__footer-text: 'Save';
$datetimepicker__footer-font-size: 16px;
$datetimepicker__footer-font-weight: bold;
$datetimepicker__footer-bg: $TA-accent;
$datetimepicker__footer-color: #fff;

@mixin datetimepickerFakeFooterBtn () {
  content: "#{$datetimepicker__footer-text}";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: $datetimepicker__footer-height;
  line-height: $datetimepicker__footer-height;
  background: $datetimepicker__footer-bg;
  color: $datetimepicker__footer-color;
  box-shadow: $dropdown-box-shadow;
  font-size: $datetimepicker__footer-font-size;
  font-weight: $datetimepicker__footer-font-weight;
  text-align: center;
  border-style: solid;
  border-color: $dropdown-border-color;
  border-width: 0 $dropdown-border-width $dropdown-border-width $dropdown-border-width;
  cursor: pointer !important;
  pointer-events: none; // fundamental to make it act like a fake button
}

/**
 * Bootstrap datetime picker
 *
 */
.bootstrap-datetimepicker-widget {

  /**
   * Steal from bootstrap dropdown style
   */
  &.dropdown-menu {
    z-index: $zindex-fixed + 1;
    @include dropdown-common-style();
    padding: 0;
    font-size: 13px;
    left: 0 !important; // @@hacky this overrides the plugin's js
    right: 0 !important; // @@hacky this overrides the plugin's js
    width: 247px;
    max-width: 300px;
    @media (max-width: 330px) {
      width: 300px;
    }

    .row > & {
      width: 94%;
      margin: 0 auto;
    }

    // // if positioned on top leave space to the fake footer/button
    // &.top {
    //   margin-bottom: $datetimepicker__footer-height;
    // }

    // remove arrow of dropdown
    margin-top: 0;
    &:before,
    &:after {
      display: none;
    }
  }

  /**
   * Fake footer button
   */
  // .list-unstyled:after {
  //   @include datetimepickerFakeFooterBtn();
  // }

  /**
   * Date picker header style
   */
  // override plugin's css
  table {
    table-layout: fixed;
  }
  thead {
    tr:first-child th:hover {
      background: $datetimepicker__header-bg !important;
    }

    // the day selected view
    > tr:first-child {
      background: $datetimepicker__header-bg;
      color: $datetimepicker__header-color;

      .prev,
      .picker-switch,
      .next {
        font-size: $datetimepicker__header-font-size;
        font-weight: 100;
        padding-top: $spacer / 1.7;
        padding-bottom: $spacer / 1.7;
        text-transform: capitalize;

        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }

    // the week header e.g. 'Su' 'Mo' etc.
    > tr:last-child {
      > th {
        padding-top: $spacer / 1.7;
      }
    }
  }

  /**
   * Remove border-radius
   */
  table {
    // table-layout: fixed;
    th {
      border-radius: 0; // reset plugin css
      width: 33px;
    }
  }

  table td {
    color: $datetimepicker__td-color;
    font-weight: bold;

    // &.disabled + td, // @@hack datepicker yesterday
    &.disabled {
      opacity: .5;
      font-weight: normal;
      cursor: not-allowed;
      pointer-events: none;
    }

  }

  .datepicker table td {
    &.day,
    .month,
    .year,
    .decade {
      border-radius: 100%;
    }

    &.day {
      line-height: 33px;
      height: 33px;
    }

    span.month,
    span.year {
      line-height: 50px;
      height: 50px;
    }

    span.decade {
      height: auto;
      line-height: 1em;
      padding: 9px;
    }
  }

  /**
   * Active date highlighting
   */
  .day.active,
  .month.active,
  .year.active {
    color: $datetimepicker__td-active-color !important;
    // background-color: $datetimepicker__td-active-bg !important;
    // border-color: $datetimepicker__td-active-bg !important;
    border-radius: 100%;

    &:before {
      content: "";
      background: $datetimepicker__td-active-bg;
      width: 40px;
      height: 40px;
    }

    &:hover {
      color: $datetimepicker__td-active-color;
      background-color: lighten($datetimepicker__td-active-bg, 15%);
    }
  }

  // if today is selected
  .day {
    &.today:before {
      display: none;
    }
  }

  /**
   * Timepicker header
   */
  .timepicker {
    position: relative;
    // height: $datetimepicker__header-height;

    &:before {
      content: "Select your pickup time";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $datetimepicker__header-height;
      line-height: $datetimepicker__header-height;
      background: $datetimepicker__header-bg;
      color: $datetimepicker__header-color;
      font-size: $datetimepicker__header-font-size;
      font-weight: 100;
      text-align: center;
    }

    table td span:hover {
      background: none;
    }
  }

  /**
   * Timepicker layout adjustments
   */
  .timepicker-picker {
    padding: $datetimepicker__header-height 0 0;

    .icon {
      font-size: 40px;
      padding-left: 19px;
      font-weight: 100;
      color: $datetimepicker__td-color;
      opacity: .6;
    }

    table {
      table-layout: fixed;
      > tr > td {
        text-align: center;
        vertical-align: middle;

        // hours td
        &:nth-child(1) {
          padding-top: 2px;
          // text-align: right;
        }
        // minutes td
        &:nth-child(3) {
          text-align: left;
        }
        // am/pm
        &:nth-child(4) {
          padding-top: 10px;
        }
      }
    }
  }

  // remove click events on hour and minutes
  .timepicker-hour,
  .timepicker-minute {
    pointer-events: none;
    cursor: default;
  }

  .timepicker-hour,
  .timepicker-minute,
  .separator {
    font-size: 70px;
    font-weight: 100;
    vertical-align: text-top;
  }
  .separator {
    width: 20px !important;
  }
}
