@font-face {
  font-family: 'taxi2airport-2c';
  src:
    url('fonts/taxi2airport-2c.ttf?rl5sn7') format('truetype'),
    url('fonts/taxi2airport-2c.woff?rl5sn7') format('woff'),
    url('fonts/taxi2airport-2c.svg?rl5sn7#taxi2airport-2c') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'taxi2airport-2c' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-conversation:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-meter:before {
  content: "\e908";
}
.icon-graph-bar:before {
  content: "\e90b";
}
.icon-airplane:before {
  content: "\e906";
}
.icon-bags:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-flight:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-persons:before {
  content: "\e912";
}
.icon-plane:before {
  content: "\e913";
}
.icon-profile:before {
  content: "\e914";
}
.icon-brand-google:before {
  content: "\e90d";
  color: #4285f4;
}
.icon-brand-twitter:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-brand-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-brand-google-plus:before {
  content: "\e902";
  color: #dc4e41;
}
.icon-brand-facebook:before {
  content: "\e903";
  color: #3b5998;
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-compare_arrows:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e887";
}
.icon-indeterminate_check_box:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e88e";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-warning:before {
  content: "\e002";
}
