@import "variables";

@font-face {
  font-family: 'taxi2airport-2c';
  src:
    url('#{$icomoon-font-path}/taxi2airport-2c.ttf?rl5sn7') format('truetype'),
    url('#{$icomoon-font-path}/taxi2airport-2c.woff?rl5sn7') format('woff'),
    url('#{$icomoon-font-path}/taxi2airport-2c.svg?rl5sn7#taxi2airport-2c') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'taxi2airport-2c' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-conversation {
  &:before {
    content: $icon-conversation;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-meter {
  &:before {
    content: $icon-meter;
  }
}
.icon-graph-bar {
  &:before {
    content: $icon-graph-bar;
  }
}
.icon-airplane {
  &:before {
    content: $icon-airplane;
  }
}
.icon-bags {
  &:before {
    content: $icon-bags;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-flight {
  &:before {
    content: $icon-flight;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-persons {
  &:before {
    content: $icon-persons;
  }
}
.icon-plane {
  &:before {
    content: $icon-plane;
  }
}
.icon-profile {
  &:before {
    content: $icon-profile;
  }
}
.icon-brand-google {
  &:before {
    content: $icon-brand-google;
  }
}
.icon-brand-twitter {
  &:before {
    content: $icon-brand-twitter;
  }
}
.icon-brand-linkedin {
  &:before {
    content: $icon-brand-linkedin;
  }
}
.icon-brand-google-plus {
  &:before {
    content: $icon-brand-google-plus;
  }
}
.icon-brand-facebook {
  &:before {
    content: $icon-brand-facebook;
  }
}
.icon-schedule {
  &:before {
    content: $icon-schedule;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-arrow_back {
  &:before {
    content: $icon-arrow_back;
  }
}
.icon-arrow_downward {
  &:before {
    content: $icon-arrow_downward;
  }
}
.icon-arrow_drop_down {
  &:before {
    content: $icon-arrow_drop_down;
  }
}
.icon-arrow_drop_up {
  &:before {
    content: $icon-arrow_drop_up;
  }
}
.icon-arrow_forward {
  &:before {
    content: $icon-arrow_forward;
  }
}
.icon-arrow_upward {
  &:before {
    content: $icon-arrow_upward;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-check_box {
  &:before {
    content: $icon-check_box;
  }
}
.icon-check_box_outline_blank {
  &:before {
    content: $icon-check_box_outline_blank;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-compare_arrows {
  &:before {
    content: $icon-compare_arrows;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-indeterminate_check_box {
  &:before {
    content: $icon-indeterminate_check_box;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-keyboard_arrow_down {
  &:before {
    content: $icon-keyboard_arrow_down;
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: $icon-keyboard_arrow_left;
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right;
  }
}
.icon-keyboard_arrow_up {
  &:before {
    content: $icon-keyboard_arrow_up;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

