$icomoon-font-path: "fonts" !default;

$icon-conversation: "\e904";
$icon-phone: "\e905";
$icon-meter: "\e908";
$icon-graph-bar: "\e90b";
$icon-airplane: "\e906";
$icon-bags: "\e907";
$icon-calendar: "\e90a";
$icon-clock: "\e90c";
$icon-flight: "\e90f";
$icon-heart: "\e910";
$icon-persons: "\e912";
$icon-plane: "\e913";
$icon-profile: "\e914";
$icon-brand-google: "\e90d";
$icon-brand-twitter: "\e900";
$icon-brand-linkedin: "\e901";
$icon-brand-google-plus: "\e902";
$icon-brand-facebook: "\e903";
$icon-schedule: "\e8b5";
$icon-add: "\e145";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-check: "\e5ca";
$icon-check_box: "\e834";
$icon-check_box_outline_blank: "\e835";
$icon-close: "\e5cd";
$icon-compare_arrows: "\e915";
$icon-help: "\e887";
$icon-indeterminate_check_box: "\e909";
$icon-info: "\e88e";
$icon-keyboard_arrow_down: "\e313";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-keyboard_arrow_up: "\e316";
$icon-warning: "\e002";

