{% extends './default.njk' %}

{% block content %}
{% endblock %}

{% block footer %}
  {% block footer_colophon %}
    <div class="container-fluid">
      {{ macros.content__row_subscribe(common) }}
    </div>
  {% endblock %}
  {% block footer_above %}
  {% endblock %}
  {% block footer_bottom %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}

{% block body_above_scripts %}
  {{ macros.modal__editbooking() }}
  {{ macros.modal__changepassword() }}
  {{ macros.modal__saveprofile() }}
{% endblock %}
