{% extends '../_base.njk' %}

{% block body %}

  <div class="c-offcanvas-content-wrap">
    {% block header %}
      {% include 'layouts/partials/header.njk' %}
    {% endblock %}

    {% block ie8_alert %}
    <!--[if lt IE 9]>
      <div class="alert alert-warning browserupgrade text-center"><p><small>You are using an <strong>outdated</strong> browser. Please <a class="text-danger" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</small></p></div>
    <![endif]-->
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
      {% block footer_colophon %}
        {{ macros.colophon(common, true) }}
      {% endblock %}
      {% block footer_above %}
      {% endblock %}
      {% block footer_bottom %}
        {% include 'layouts/partials/footer.njk' %}
      {% endblock %}
    {% endblock %}
  </div>

  {% include 'layouts/partials/mobilemenu.njk' %}

{% endblock %}
