{% macro modal__changepassword() %}
  <!-- macro: modal__changepassword -->
  <div id="modal__changepassword" class="modal fade modal--dark modal--changepassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-validate py-3 py-lg-5">
            {{ form_group('password', 'Password:', '', 'password', required=true) }}
            {{ form_group('password', 'Confirm password:', '', 'password', required=true, success=true) }}
          </form>
        </div>
        <div class="modal-footer p-0">
          <button type="button" class="btn btn-lg btn-accent" data-dismiss="modal">Change Password</button>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: modal__saveprofile -->
{% endmacro %}


{% macro modal__saveprofile() %}
  <!-- macro: modal__saveprofile -->
  <div id="modal__saveprofile" class="modal fade modal--saveprofile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Save changes to profile?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <p>You have unsaved changes to your profile.  Save the edits to keep them or discard to cancel the changes.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Discard</button>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: modal__saveprofile -->
{% endmacro %}


{% macro modal__editbooking() %}
  <!-- macro: modal__editbooking -->
  <div id="modal__editbooking" class="modal fade modal--editbooking" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Booking?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon icon-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <p>You will be directed to create a new booking. The current transfer will be cancelled.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent">Continue</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: modal__editbooking -->
{% endmacro %}


{% macro tripdetail__actions() %}
  <!-- macro: tripdetail__actions -->
  <div class="tripdetail__actions">
    <a class="btn btn-link" href="#modal__editbooking" data-toggle="modal">Edit</a>
    <a class="btn btn-link" href="javascript:window.print()">Print</a>
    <a class="btn btn-link" href="#">Invoice</a>
  </div>
  <!-- endmacro: tripdetail__actions -->
{% endmacro %}


{% macro form_group(id, label, placeholder, type, required, optional, error_msg='', success='', rows=3) %}
  <!-- macro: form_group -->
  <div class="form-group has-feedback{% if error_msg %} has-danger{% endif %}{% if success %} has-success{% endif %}">
  {% if type === 'checkbox' %}
    <div class="checkbox">
      <input type="checkbox" name="{{ id }}" id="{{ id }}" class="styled"{% if requred %} required{% endif %}>
      <label class="control-label" for="{{ id }}">{{ label | safe }}</label>
    </div>
  {% else %}
    <label for="{{ id }}" class="control-label">{{ label | safe }}{% if optional %} <span class="control-label-sub">(optional)</span>{% endif %}</label>
  {% endif %}
  {% if type === 'select' %}
    <select id="{{ id }}" name="{{ id }}" class="form-control"{% if requred %} required{% endif %}>
      <option>{{ placeholder }}</option>
      <option>14:00 - 16:00</option>
    </select>
    {% if error_msg %}<div class="form-control-feedback">{{ error_msg }}</div>{% endif %}
  {% elif type === 'textarea' %}
    <textarea class="form-control" name="{{ id }}" id="{{ id }}" rows="{{ rows }}" placeholder="{{ placeholder }}"{% if requred %} required{% endif %}></textarea>
    {% if error_msg %}<div class="form-control-feedback">{{ error_msg }}</div>{% endif %}
  {% else %}
    <input type="{{ type }}" name="{{ id }}" id="{{ id }}" class="form-control" placeholder="{{ placeholder }}"{% if requred %} required{% endif %}>
    {% if error_msg %}<div class="form-control-feedback">{{ error_msg }}</div>{% endif %}
  {% endif %}
  </div>
  <!-- endmacro: form_group -->
{% endmacro %}


{% macro form_group__booking_date(id) %}
  <!-- macro: form_group__booking_date -->
  <div class="form-group booking__when--date col-6">
    <div id="group_{{ id }}" class="input-group--seamless">
      <div class="input-group-addon"><img src="images/icons/calendar-grey.svg"></div>
      <input type="text" name="{{ id }}" id="{{ id }}" class="form-control datepicker" placeholder="Select Date" required readonly>
    </div>
  </div>
  <!-- endmacro: form_group__booking_date -->
{% endmacro %}


{% macro form_group__booking_time(id) %}
  <!-- macro: form_group__booking_time -->
  <div class="form-group booking__when--time col-6">
    <div id="group_{{ id }}" class="input-group--seamless">
      <div class="input-group-addon"><img src="images/icons/clock-grey.svg"></div>
      <input type="text" name="{{ id }}" id="{{ id }}" class="form-control timepicker" placeholder="Select Time" required readonly>
    </div>
  </div>
  <!-- endmacro: form_group__booking_time -->
{% endmacro %}


{% macro form_group__phone() %}
  <!-- macro: form_group__phone -->
  <div class="form-group has-feedback">
    <label for="phone_prefix" class="control-label">Phone Number:</label>
    <div class="row">
      <div class="col-4">
        <input type="text" name="phone_prefix" id="phone_prefix" class="form-control" placeholder="NL +31" required>
      </div>
      <div class="col-8">
         <input type="number" name="phone_number" id="phone_number" class="form-control" placeholder="0011223344" required>
      </div>
    </div>
  </div>
  <!-- endmacro: form_group__phone -->
{% endmacro %}


{% macro form_group__newsletter() %}
  <!-- macro: form_group__newsletter -->
  <div class="form-group">
    <div class="checkbox">
      <input type="checkbox" name="input_newsletter" id="input_newsletter" class="styled">
      <label class="control-label" for="input_newsletter">I would like to stay informed about discounts, news and special offers</label>
    </div>
  </div>
  <!-- endmacro: form_group__newsletter -->
{% endmacro %}


{% macro card_transfer(data, column_class) %}
  <!-- macro: card_transfer -->
  <div class="transfer transfer--{{ data.status }} {{ column_class }}">
    <div class="transfer__inner">
      <h4 class="title--small transfer__from">{{ data.from }}</h4>
      <h4 class="title--small transfer__to">{{ data.to }}</h4>
      <p class="transfer__info">
        <span class="transfer__date">{{ data.date }}</span> @ <span class="transfer__time">{{ data.time }}</span>
        <span class="transfer__status badge badge-{{ data.statusClass }}">{{ data.status | capitalize }}</span>
      </p>
      <div class="transfer__actions">
        <a class="link-iconed transfer__action" href="customer-tripdetail.html"><span>View Details</span> <i class="icon icon-arrow_forward"></i></a>
        {% if data.status !== 'upcoming' %}<a class="transfer__action" href="#">Book again</a>{% endif %}
      </div>
    </div>
  </div>
  <!-- endmacro: card_transfer -->
{% endmacro %}


{% macro customer__hello(msg='Welcome back,', name='Michael', additional_classes='') %}
  <!-- macro: customer__hello -->
  <div class="container customer__hello {{ additional_classes }}">
    <div class="row">
      <nav class="col-12">
        <h1><span class="customer__hello-subtitle">{{ msg }}</span>
        <span class="customer__hello-title">{{ name }}</span></h1>
      </nav>
    </div>
  </div>
  <!-- endmacro: customer__hello -->
{% endmacro %}


{% macro customer__tabs(tabs, active, additional_classes) %}
  <!-- macro: customer__tabs -->
  <nav class="customer__tabs {{ additional_classes }}">
    <div class="container">
      <ul class="nav nav-fill">
        {% for tab in tabs %}
        <li class="nav-item{% if tab.slug == active %} active{% endif %}">
          <a class="nav-link" href="{% if tab.slug == active %}#{% else %}/{{ tab.slug }}.html{% endif %}">{{ tab.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <!-- endmacro: customer__tabs -->
{% endmacro %}


{% macro customer__footer(additional_classes) %}
  <!-- macro: customer__footer -->
  <div class="container-fluid customer__footer bg-white">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a class="link-iconed" href="customer-profile.html"><span>Update your profile</span> <i class="icon icon-arrow_forward"></i></a>
              <a class="link-iconed" href="customer-profile.html"><span>Update payment method</span> <i class="icon icon-arrow_forward"></i></a>
              <a class="link-iconed" href="#modal__changepassword" data-toggle="modal"><span>Change password</span> <i class="icon icon-arrow_forward"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: customer__footer -->
{% endmacro %}


{% macro page__toc(links, additional_classes) %}
  <!-- macro: page__toc -->
  <nav class="page__toc {{ additional_classes }}">
    <p class="page__toc-title">Jump to:</p>
    {% for link in links %}
    <a class="page__toc-link" href="#{{ link.id }}">{{ link.title }}</a>
    {% endfor %}
  </nav>
  <!-- endmacro: page__toc -->
{% endmacro %}


{% macro content__faq_group(faq, additional_classes) %}
  <!-- macro: content__faq_group -->
  <h3 id="{{ faq.id }}" class="h4 page__heading faq__heading">{{ faq.title }}</h3>
  <ol class="expandable__list faq__list">
  {% for group in faq.content %}
    <li class="expandable">
      <div class="expandable__header" data-toggle="collapse" data-target="#{{ faq.id }}--{{ loop.index }}" aria-expanded="false">
        <h4 class="expandable__heading title--small">{{ group.question }}</h4>
        <span class="expandable__toggle"><i class="icon"></i></span>
      </div>
      <div id="{{ faq.id }}--{{ loop.index }}" class="expandable__body collapse"><p>{{ group.answer }}</p></div>
    </li>
  {% endfor %}
  </ol>
  <!-- endmacro: content__faq_group -->
{% endmacro %}


{% macro colophon(data, show_trustpilot) %}
<!-- partial: colophon -->
<div class="colophon">
  <div class="container">
    <h4 class="title title--dark">Customer Service</h4>
    <div class="row">
      {% for lang in data.languages %}
        {{ country_phone_link(lang.name, lang.code, '+31 883 188 331') }}
      {% endfor %}
    </div>
    {% if show_trustpilot %}
      <h4 class="title title--dark text-center my-3">What others are saying</h4>
      {{ trustpilot() }}
    {% endif %}
  </div>
</div>
<!-- endpartial: colophon -->
{% endmacro %}


{% macro content__row_airports(airports) %}
  <!-- macro: content__row_airports -->
  <div class="row bg-grey content__row content__row--airports">
    <div class="container">
      <div class="row">
        <div class="col-12 jumbotron">
          <h3 class="title title--red h1">Top Airports</h3>
          <h5 class="h6 font-sans font-weight-normal">We are available worldwide for all popular airport transfers with competitive pricing, including:</h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row carousel">
              {% for airport in airports %}
                {{ card_airport(airport.name, 'col-lg-3 dragend-page') }}
              {% endfor %}
          </div>
          <a class="hidden-lg-up" href="#"><b>View all Airports</b> <i class="icon icon-arrow_forward text-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_airports -->
{% endmacro %}


{% macro content__row_howdoesitwork() %}
  <!-- macro: content__row_howdoesitwork -->
  <div class="row bg-grey content__row content__row--howdoesitwork">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h5 class="title--small">How does it work?</h5>
          <h3 class="title title--red h1 mb-3 mb-md-5">Our customers save 35% on average</h3>
        </div>
        {{ feature(img='icons/device-hand.svg', text='Schedule your transfer in advance to or from the airport, station or harbor.') }}
        {{ feature(img='icons/options.svg', text='Choose your car type and other options your need for the transfer') }}
        {{ feature(img='icons/flight.svg', text='Complete your order and enjoy the trip!') }}
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_howdoesitwork -->
{% endmacro %}


{% macro content__row_about() %}
  <!-- macro: content__row_about -->
  <div class="row content__row content__row--about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h3 class="title text-dark pb-lg-3">About Taxi2Airport</h3>
          <p class="readmore">Planning to go on holiday by plane, or perhaps on family visit or for another reason abroad? Then you probably need to go to the airport to catch your flight. But how will you get there? Letting someone bring you or pick you up is not always possible and parking your own car at the airport is not a cheap solution. Then you can choose for an airport transfer by an experience holiday taxi company. A taxi will pick you up at your home address whenever you want and will take you to the airport you need to go. TAXI2AIRPORT.COM stands for reliable service and security. Your transportation to the airport can’t start better; leave the rest to our airport shuttle.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_about -->
{% endmacro %}


{% macro content__row_aroundglobe(show_more_aboutus=true) %}
  <!-- macro: content__row_aroundglobe -->
  <div class="row bg-red content__row content__row--around">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <img src="images/icons/globe-white.svg">
          <h3 class="title py-3">Available around the globe</h3>
          <p>TAXI2AIRPORT.COM is an online reservation and booking system for airport transfers all around the globe. We are committed to provide safe and reliable transfers over all area's to and from all airports and cruise ports. Our pricing is competitive and we offer special rates to high volume clients.</p>
          <p>Taxi2airport rated 4.5/5 based on 670 reviews</p>
          {% if show_more_aboutus -%}
          <br>
          <a href="" class="btn btn-white-outline">More About Us</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_aroundglobe -->
{% endmacro %}


{% macro content__row_getstarted(bg_class) %}
  <!-- macro: content__row_getstarted -->
  <form class="row content__row content__row--getstarted {{ bg_class }}">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h4 class="title--small title--red pb-4">Get Started Today</h4>
          <div class="row">
            <div class="col-lg-6">
              {{ form_group('first_name', 'First name:', 'i.e. John', 'text', required=true) }}
            </div>
            <div class="col-lg-6">
              {{ form_group('last_name', 'Last name:', 'i.e. Smith', 'text', required=true) }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              {{ form_group('email', 'Email address:', 'i.e. john@mail.com', 'email', required=true, error_msg='This is an error message') }}
            </div>
            <div class="col-lg-6">
              {{ form_group__phone() }}
            </div>
          </div>
          <button class="btn btn-lg btn-accent">Sign up</button>
        </div>
      </div>
    </div>
  </form>
  <!-- endmacro: content__row_getstarted -->
{% endmacro %}


{% macro content__row_subscribe(data) %}
  <!-- macro: content__row_subscribe -->
  <div class="row bg-red content__row content__row--info">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          {{ list__with_icons(data.home_list) }}
        </div>
        <div class="col-12 col-md-6">
          <h5 class="font-sans">Subscribe for weekly exclusive offers:</h5>
          {{ newsletter() }}
          {{ follow_us('Follow us:', data.social) }}
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_subscribe -->
{% endmacro %}


{% macro content__row_checkmarks(data, split_in_cols, additional_classes) %}
  <!-- macro: content__row_checkmarks -->
  <div class="row content__row content__row--checkmarks {{ additional_classes }}">
    <div class="container">
      <div class="row">
      {% if split_in_cols %}
        {% set first_half_reasons = [data.reasons_why[0], data.reasons_why[1]] %}
        {% set second_half_reasons = [data.reasons_why[2], data.reasons_why[3]] %}
        <div class="col-12 col-md-6">
          {{ list__with_checkmarks(first_half_reasons) }}
        </div>
        <div class="col-12 col-md-6">
          {{ list__with_checkmarks(second_half_reasons) }}
        </div>
      {% else %}
        <div class="col-12">
          {{ list__with_checkmarks(data.reasons_why) }}
        </div>
      {% endif %}
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_checkmarks -->
{% endmacro %}


{% macro content__row_trustpilot() %}
  <!-- macro: content__row_trustpilot -->
  <div class="row content__row content__row--trustpilot">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="title title--dark text-center my-3">What others are saying</h4>
          {{ trustpilot() }}
        </div>
      </div>
    </div>
  </div>
  <!-- endmacro: content__row_trustpilot -->
{% endmacro %}

{% macro certifiedpartner(partner_name) %}
  <!-- macro: certifiedpartner -->
  <div class="certifiedpartner certifiedpartner--{{ partner_name }}">
    <img class="certifiedpartner__logo" src="images/partner_{{ partner_name}}.png" title="{{ partner_name }}"> Certified Partner
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro country_phone_link(country, country_code, number, wrapper_classes='col-sm-6 col-lg-4') %}
  <!-- macro: country_phone_link -->
  <div class="country-phone {{ wrapper_classes }}">
    <div class="media">
      <div class="media-left">
        <span class="flagsvg flagsvg-{{country_code}}"></span>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><a href="tel:{{number}}">{{ country }}</a></h5>
        <a class="tel" href="tel:{{number}}">{{ number }}</a>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro trustpilot() %}
  <!-- macro: trustpilot -->
  <span id="trustpilot_small_loader_lg"><div class="trustpilot-widget" data-locale="en-US" data-template-id="539ad60defb9600b94d7df2c" data-businessunit-id="56a73ef10000ff00058818ba" data-style-height="88px" data-style-width="100%" data-tags="" data-stars="4,5,3"></div></span>
  <!-- endmacro -->
{% endmacro %}


{% macro trustpilot_widget() %}
  <!-- macro: trustpilot_widget -->
    <div class="trustpilot-widget" data-locale="en-US" data-template-id="539ad60defb9600b94d7df2c" data-businessunit-id="56a73ef10000ff00058818ba" data-style-height="500px" data-style-width="100%" data-tags="" data-stars="4,5,3">
      <a href="http://www.trustpilot.com/review/www.taxi2airport.com/en" rel="nofollow" hidden>Taxi2Airport Reviews</a>
    </div>
  <!-- endmacro -->
{% endmacro %}


{% macro trust_payments(is_homepage) %}
  <!-- macro: trust_payments -->
  <div class="row media-trust-payments hidden-xs">
    <div class="col-xs-{% if is_homepage %}5{% else %}6{% endif %}">
      {% if is_homepage %}<h3>250.000 Happy customers</h3>{% endif %}
      <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="56a73ef10000ff00058818ba" data-style-height="100px" data-style-width="100%" data-theme="light" style="position: relative;"><iframe frameborder="0" scrolling="no" src="http://widget.trustpilot.com/trustboxes/53aa8807dec7e10d38f59f32/index.html?locale=en-US&amp;templateId=53aa8807dec7e10d38f59f32&amp;businessunitId=56a73ef10000ff00058818ba&amp;styleHeight=100px&amp;styleWidth=100%25&amp;theme=light" style="height: 100px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe></div>
      {# <img class="img-responsive" src="images/trustpilot.jpg" alt="TrustPilot"> -#}
    </div>
    {% if is_homepage %}
      <div class="col-xs-7">
        <h3>Secure online payment</h3>
        <img class="img-responsive" src="images/payments_homepage.png" alt="Secure Payments" width="351" height="87">
    {% else %}
      <div class="col-xs-6">
        <img class="img-responsive" src="images/payments.png" alt="Secure Payments" width="209" height="133">
      {% endif %}
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro promo(additional_classes) %}
  <!-- macro: promo -->
  <div class="promo{% if additional_classes %} {{ additional_classes }}{% endif %}">
    <div class="promo__amount">10% off</div>
    <div class="promo__title">Your first booking</div>
    <div class="promo__code">Use promo code: T2ANEW</div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro feature(img, icon, title, text) %}
  <!-- macro: feature -->
  <div class="col-sm-4 media-feature">
    <div class="feature-img-wrap">
      {% if img %}<img class="feature-img" src="images/{{ img }}">{% endif %}
      {% if icon %}<i class="icon icon-{{ icon }} feature-icon"></i>{% endif %}
    </div>
    {% if title %}
      <h4 class="title--small feature-title">{{ title }}</h4>
      {% if text %}<p>{{ text }}</p>{% endif %}
    {% else %}
      <h4 class="feature-text">{{ text }}</h4>
    {% endif %}
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro map(url_query) %}
  <!-- macro: map -->
  {% if not url_query %}
    {% set url_query = '?pb=!1m28!1m12!1m3!1d77987.6198058079!2d4.772056639271946!3d52.35023360563706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47c609c7360ba005%3A0x17ce74232a23d93b!2sDam+Square%2C+Amsterdam%2C+Netherlands!3m2!1d52.372372999999996!2d4.8937156!4m5!1s0x47c5e134e0fd162d%3A0xc7d51583f1cef188!2sSchiphol+Amsterdam+Airport%2C+Evert+van+de+Beekstraat+202%2C+1118+CP+Schiphol!3m2!1d52.3105386!2d4.7682744!5e0!3m2!1sen!2suk!4v1455807962742' %}
  {% endif %}
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed{{ url_query }}" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro populartransfer(from, to, price) %}
  <!-- macro: populartransfer -->
  <div class="populartransfer">
    <div class="populartransfer__info">
      <h4 class="populartransfer__line populartransfer__from">
        <img class="populartransfer__img" src="images/icons/airplane.svg"> {{ from }}
      </h4>
      <h4 class="populartransfer__line populartransfer__to">
        <img class="populartransfer__img" src="images/icons/map-pin.svg"> {{ to }}
      </h4>
    </div>
    <div class="populartransfer__actions">
      <a href="#" class="btn btn-accent link-iconed"><span>From {{ price }}&euro;</span> <i class="icon icon-arrow_forward"></i></a>
    </div>
  </div>
  <!-- endmacro: populartransfer -->
{% endmacro %}


{% macro booking(text, country_code='gb') %}
  <!-- macro: booking -->
  <div class="media media-booking">
    <div class="d-flex mr-3">
      <i class="flagsvg flagsvg-{{ country_code }}"></i>
    </div>
    <div class="media-body">
      <p>{{ text }}</p>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro list__table(items) %}
  <!-- macro: list__table -->
  {% for item in items %}
    {% if loop.first %}
      <ul class="list--table">
    {% endif %}
        <li>
          <span class="title--small">{{ item[0] }}</span>
          <abbr class="text-dark">{{ item[1] }}</abbr>
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  <!-- endmacro -->
{% endmacro %}


{% macro list__with_icons(items) %}
  <!-- macro: list__with_icons -->
  {% for item in items %}
    {% if loop.first %}
      <ul class="list--with-icons">
    {% endif %}
        <li>
          {% if item.icon %}
          <i class="icon icon-{{ item.icon }}{% if item.icon_color %} text-{{ item.icon_color }}{% endif %}"></i>
          {% elif item.img %}
            <img class="icon" src="images/icons/{{ item.img }}.svg">
          {% endif %}
          <h5 class="font-sans">{{ item.title }}</h5>
          <p>{{ item.text }}</p>
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  <!-- endmacro -->
{% endmacro %}


{% macro list__with_checkmarks(items) %}
  <!-- macro: list__with_checkmarks -->
  {% for item in items %}
    {% if loop.first %}
      <ul class="list--with-checkmarks">
    {% endif %}
        <li>
          <h4 class="h5 font-sans text-dark">{{ item.title }}</h4>
          <p>{{ item.text }}</p>
        </li>
    {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  <!-- endmacro -->
{% endmacro %}


{% macro newsletter() %}
  <!-- macro: newsletter -->
  <form class="newsletter form-inline">
    <label class="hidden-sm-down" for="newsletter_email">Please enter your email address:</label>
    <input id="newsletter_email" type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Your email address">
    <button type="submit" class="btn btn-white-outline">Subscribe</button>
  </form>
  <!-- endmacro -->
{% endmacro %}


{% macro follow_us(text, social_media) %}
  <!-- macro: follow_us -->
  <ul class="list-inline follow hidden-md-down">
    {% if text %}<li class="list-inline-item follow__item">{{ text }}</li>{% endif %}
    {% for social in social_media %}
    <li class="list-inline-item follow__item">
      <a class="follow__link" href="{{ social.url }}" title="{{ social.title }}"><i class="icon icon-{{ social.icon }}"></i></a>
    </li>
    {% endfor %}
  </ul>
  <!-- endmacro -->
{% endmacro %}


{% macro partners(partners_list) %}
  <!-- macro: partners -->
  <div class="row partners">
    <div class="col-md-5 my-2 text-md-right">
      <h5 class="font-sans text-dark">Our preferred partners</h5>
    </div>
    <div class="col-md-6 offset-md-1 my-2 text-md-left">
      {% for partner in partners_list %}
      <img class="partners__logo" src="images/partner_{{ partner }}.png" alt="{{ partner }}" title="{{ partner }}">
      {% endfor %}
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro card_airport(name, column_class) %}
  <!-- macro: card_airport -->
  <div class="airport {{ column_class }}">
    <div class="card">
      <div class="airport__inner" href="airport.html">
        <h3 class="airport__name"><a href="airport.html">{{ name }}</a></h3>
        <a class="airport__action btn-link" href="airport.html">Book a transfer</a>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__breadcrumbs(breadcrumbs_list) %}
  <!-- macro: booking__breadcrumbs -->
  {% for breadcrumb in breadcrumbs_list %}
    {% if loop.first %}
      <ol class="row no-gutters booking__breadcrumbs">
    {% endif %}
        <li class="col-4 booking__breadcrumb">
          <a class="{{ breadcrumb.status }}" href="{{ breadcrumb.url }}">{{ loop.index }}. {{ breadcrumb.text }}</a>
        </li>
    {% if loop.last %}
      </ol>
    {% endif %}
  {% endfor %}
  <!-- endmacro -->
{% endmacro %}


{% macro booking__backnext(back_text='', back_url='', next_text='', next_url='', additional_classes='') %}
  <!-- macro: booking__backnext -->
  <nav class="booking__backnext {{ additional_classes }}">
    {% if back_text %}<a href="{{ back_url }}" class="btn btn-link link-iconed booking__back"><!-- btn-disabled -->
      <i class="icon icon-arrow_back"></i> <span>{{ back_text }}</span>
    </a>{% endif %}
    {% if next_text %}<a href="{{ next_url }}" class="btn btn-accent link-iconed booking__next"><!-- btn-disabled -->
      <span>{{ next_text }}</span> <i class="icon icon-arrow_forward"></i>
    </a>{% endif %}
    </nav>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__summary_pickup() %}
  <!-- macro: booking__summary_pickup -->
  <div class="summary__row summary__row--pickup">
    <h5>Pickup</h5>
    <div class="media">
      <div class="media-left">
        <img src="images/icons/plane.svg">
      </div>
      <div class="media-body">
        <h4 data-js-pickup>Amsterdam Airport Schipol (AMS)</h4>
        <p class="hidden-sm-down"><span data-js-date>18 May 2017</span> <span>@ <time data-js-time>10:00</time></span></p>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__summary_destination() %}
  <!-- macro: booking__summary_destination -->
  <div class="summary__row summary__row--destination">
    <h5>Destination</h5>
    <div class="media">
      <div class="media-left">
        <img src="images/icons/map-pin.svg">
      </div>
      <div class="media-body">
        <h4 data-js-destination>Julius Pergerstraat 139, 1087KN Amsterdam, Netherlands</h4>
        <p>Distance: <span data-js-distance>>24.42 km / 15.17 mile</span</p>
        <p>Probable duration: <span data-js-duration>23</span> mins</p>
      </div>
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__summary_vehicle(add_options) %}
  <!-- macro: booking__summary_vehicle -->
  <div class="summary__row summary__row--vehicle">
    <h5>Vehicle type</h5>
    <h4 data-js-vehicle>Sedan</h4>
    <div class="summary__vehicleinfo">
      <p>
        <span class="vehicle__persons"><span data-js-persons>1-3</span> persons</span>
        <span class="vehicle__bags"><span data-js-bags>4</span> bags</span>
      </p>
      {% if add_options %}<a href="#options" class="btn btn-link summary__addoptions">Add options <i class="icon icon-keyboard_arrow_down"></i></a>{% endif %}
    </div>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__summary_payment() %}
  <!-- macro: booking__summary_payment -->
  <div class="summary__row summary__row--payment">
    <h5>Payment</h5>
    <h4 data-js-payment>Visa</h4>
    <p data-js-cardnumber>xxxx-xxxx-xxxx-4212</p>
    <table>
      <tbody>
        <tr>
          <td>Amount paid:</td>
          <td>&euro; <span data-js-paid>48</span></td>
        </tr>
        <tr>
          <td>To be paid in taxi:</td>
          <td>&euro; <span data-js-topay>0</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__summary(has_chosen, has_paid) %}
  <!-- macro: booking__summary -->
  <section class="booking__summary summary">
    <header class="summary__header">
      <h3 class="summary__title">Your Itinerary</h3>
      <a href="" class="btn btn-outline-secondary summary__edit">Edit</a>
    </header>
    <div class="summary__datetime hidden-md-up">
      <strong class="summary__date" data-js-date>18 May 2017</strong>
      <strong class="summary__time">@ <time data-js-time>10:00</time></strong>
    </div>
    {{ booking__summary_pickup() }}
    {{ booking__summary_destination() }}
    {% if has_chosen %}
      {{ booking__summary_vehicle(add_options=true) }}
    {% endif %}
    {% if has_paid %}
      {{ booking__summary_payment() }}
    {% endif %}
  </section>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__vehicle(vehicle__type, most_popular, price, price_original, persons, bags, is_selected) %}
  <!-- macro: booking__vehicle -->
  <li class="vehicle">
    <div class="media">
      <div class="media-left">
        <img class="vehicle__img" src="images/transfertype-{{ vehicle__type|lower }}.jpg" alt="{{ vehicle__type|lower }}">
        <div class="vehicle__similar">Or similar</div>
      </div>
      <div class="media-body">
        <h3 class="vehicle__type">{{ vehicle__type }}{% if most_popular %} <span class="vehicle__popular">Most popular</span>{% endif %}</h3>
        <div class="vehicle__info">
          <div class="vehicle__meta">
            <span class="vehicle__persons">{{ persons }} persons</span>
            <span class="vehicle__bags">{{ bags }} bags</span>
          </div>
          <div class="vehicle__price">
            <del class="vehicle__price-original"><abbr>&euro;</abbr> <span data-price-original="{{ price_original }}">{{ price_original }}</span></del>
            <span class="vehicle__price-final"><abbr>&euro;</abbr> <strong data-price="{{ price }}">{{ price }}</strong></span>
          </div>
        </div>
      </div>
    </div>
    <div class="media-bottom">
      {% if is_selected %}
        <button class="vehicle__select btn btn-md btn-success">Selected!</button>
      {% else %}
        <a href="options.html" class="vehicle__select btn btn-md btn-accent">Select this vehicle</a>
      {% endif %}
      <div class="vehicle__why">
        <span class="vehicle__why-info">Free cancellation</span>
        <span class="vehicle__why-info">Taxes & Feed included</span>
      </div>
    </div>
  </li>
  <!-- endmacro -->
{% endmacro %}


{% macro booking__options(options) %}
  <!-- macro: booking__options -->
  <ol class="booking__options">
    {% for option in options %}
      {{ booking__option(option) }}
    {% endfor %}
  </ol>
  <!-- endmacro -->
{% endmacro %}

{% macro booking__option(option) %}
  <!-- macro: booking__option -->
  <li class="option booking__option">
    <div class="media">
      {% if option.field.type == 'checkbox' %}
      <div class="checkbox">
        <input class="option__input" type="checkbox" name="{{ option.field.name }}" id="input_{{ option.field.name }}">
        <label for="input_{{ option.field.name }}" class="control-label"></label>
      </div>
      {% endif %}
      {# {% if option.field.type == 'select' %}
        <select class="option-input form-control" name="{{ option.field.name }}">
          {% for select_option in option.field.choices -%}
            <option value="{{ select_option }}">{{ select_option }}</option>
          {% endfor %}
        </select>
      {% endif %} #}
      <div class="media-body">
        <div class="option__header">
          <label class="option__name-label" for="input_{{ option.field.name }}">
            <h4 class="option__name">{{ option.info.title }}</h4>
          </label>
          <span class="option__fee">
            <abbr>EUR</abbr> <b data-js-optionfee="{{ option.fee_unit }}">{{ option.fee_unit }}</b>
          </span>
        </div>
        <p class="option__text">{{ option.info.text|safe }}</p>
      </div>
    </div>
  </li>
  <!-- endmacro -->
{% endmacro %}

