{% extends './default.njk' %}

{% block content %}
{% endblock %}

{% block footer %}
  {% block footer_colophon %}{% endblock %}
  {% block footer_above %}{% endblock %}
  {% block footer_bottom %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}

{% block body_above_scripts %}{% endblock %}
