{% import 'layouts/macros.njk' as macros %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block meta_title %}Taxi 2 Airport{% block meta_title__post %}{% endblock %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="kuus <kunderikuus@gmail.com> (http://kunderikuus.net)">
    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css' /><!-- @dev just for demo -->
    <!-- build:css styles/app.css-->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% endblock %}

    {% block body_above_scripts %}
    {% endblock %}

    {# Google Analytics: change UA-XXXXX-X to be your site's ID. #}
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script> #}
    {# js:thirdy part libraries #}
    <script src="https://www.google.com/recaptcha/api.js?hl=fr"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;v=3&amp;libraries=places"></script>
    <script src="https://widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.rawgit.com/moment/moment/develop/locale/it.js"></script><!-- @dev just for demo -->

    <!-- build:js scripts/app.js -->
    <script src="scripts/vendor.modernizr.js"></script>
    <!-- injectAppCustomVendors:js-->
    <script src="scripts/vendor.0.jquery.js"></script>
    <script src="scripts/vendor.dragend.js"></script>
    <script src="scripts/vendor.jquery-ui.custom-build.js"></script>
    <script src="scripts/vendor.jquery.ba-throttle-debounce.js"></script>
    <script src="scripts/vendor.jquery.bootstrap-datetimepicker.js"></script>
    <script src="scripts/vendor.js-offcanvas.js"></script>
    <script src="scripts/vendor.readmore.js"></script>
    <script src="scripts/vendor.tether.js"></script>
    <!-- endinject -->
    <script src="scripts/app.js"></script>
    <!-- endbuild-->
    {% block body_end %}
    {% endblock %}
  </body>
</html>