{% extends 'layouts/default.njk' %}

{% block body_class %}page--about{% endblock %}

{% block content %}
  <article class="container-fluid page">
    <header class="row page__header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="page__header-title">About us</h1>
          </div>
        </div>
      </div>
    </header>
    <div class="row content__row content__row--aboutus">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>When travel to a new country or city, you are probably going to be confused about transportation there. At TAXI2AIRPORT.COM, we work hard to reduce your stress of travelling by offering you the best solution for your airport transfer. Whether you are on a family holiday, a single traveller or a business trip, we commit to bring you a comfortable experience from booking, payment to transfer.</p>
            <p>Since 2003, we've been offering thousands of pleasant rides every month thanks to our global partner network at over 50 countries. Together with professional drivers, our multilingual customer service team is dedicated in communicating with you before and after your trip, as well as supportive in planning your travel. We help you in finding the suitable vehicle from a variety of available cars. We also facilitate you in special needs with exclusive services.</p>
            <p>With an extensive practical experience in transportation industry, we understand that it is not only about moving from A to B. But also every trip has its own story in which transferring plays an important part that is the beginning and the ending. We are proud to be a part of your memory and we never stop improving your experience with TAXI2AIRPORT.COM to make every trip a happy ending.</p>
          </div>
          <div class="col-lg-6">
            {{ macros.list__with_checkmarks(common.about_us_list) }}
          </div>
        </div>
      </div>
    </div>
    {{ macros.content__row_aroundglobe(show_more_aboutus=false) }}
    <div class="row content__row content__row--cars">
      <div class="container">
        <div class="row pb-4 text-center">
          <div class="col-sm-6 col-md-3">
            <img class="img-fluid" src="images/transfertype-sedan.jpg" title="Car Sedan">
          </div>
          <div class="col-sm-6 col-md-3">
            <img class="img-fluid" src="images/transfertype-exclusive.jpg" title="Car Tesla">
          </div>
          <div class="col-sm-6 col-md-3">
            <img class="img-fluid" src="images/transfertype-minibus.jpg" title="Car Minibus">
          </div>
          <div class="col-sm-6 col-md-3">
            <img class="img-fluid" src="images/transfertype-touringcar.jpg" title="Car Sprinter">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a href="" class="btn btn-lg btn-accent">Book your taxi</a>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block footer_colophon %}{% endblock %}
