{% extends 'layouts/default.njk' %}

{% block body_class %}page--airport{% endblock %}

{% block content %}
  <article class="container-fluid">
    <div class="row content__row content__row--intro intro--withbg" style="background-image: url(images/picture002.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h1 class="title title--dark intro__title">Transfers to and from Charles de Gaulle Airport</h1>
          </div>
        </div>
      </div>
      {# <img class="intro__img" src="images/picture001.jpg"> #}
    </div>
    <div id="book" class="row content__row content__row--booking">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            {% include 'layouts/partials/booking-home.njk' %}
          </div>
          <div class="col-md-5 col-lg-5">
            {{ macros.list__with_checkmarks(common.reasons_why) }}
            <div class="text-center mt-5">
              <img class="mr-5" src="images/payments_homepage.png" width="175">
              <img src="images/secure.png" width="50">
            </div>
          </div>
        </div>
        {{ macros.partners(['goedIdeeReizen', 'tui', 'kras']) }}
      </div>
    </div>
    <div class="row bg-grey content__row content__row--latest">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7">
            <h3 class="title text-dark pb-4">Popular transfers from Charles de Gaulle Airport</h3>
            {{ macros.populartransfer(from='Charles de Gaulle Airport', to='Saint-Germain-des-Prés', price='62') }}
            {{ macros.populartransfer(from='Charles de Gaulle Airport on two lines', to='Saint-Germain-des-Prés', price='62') }}
            {{ macros.populartransfer(from='Charles de Gaulle Airport', to='Saint-Germain-des-Prés', price='62') }}
            {{ macros.populartransfer(from='Charles de Gaulle Airport', to='Saint-Germain-des-Prés', price='62') }}
            {{ macros.populartransfer(from='Charles de Gaulle Airport', to='Saint-Germain-des-Prés', price='62') }}
          </div>
          <div class="col-12 col-md-5">
            <div class="py-4 hidden-md-up"></div>
            <h3 class="title text-dark pb-4">Latest bookings from and to Charles de Gaulle Airport</h3>
            {{ macros.booking(text='A customer from Singapore books a taxi from Paris, France to Charles de Gaulle Airport (CDG).') }}
            {{ macros.booking(text='A customer from Singapore books a taxi from Paris, France to Charles de Gaulle Airport (CDG).') }}
            {{ macros.booking(text='A customer from Singapore books a taxi from Paris, France to Charles de Gaulle Airport (CDG).') }}
          </div>
        </div>
      </div>
    </div>
    {{ macros.content__row_trustpilot() }}
    {{ macros.content__row_howdoesitwork() }}
    {{ macros.content__row_subscribe(common) }}
    {{ macros.content__row_airports(common.top_airports) }}
    {{ macros.colophon(common, show_trustpilot=false) }}
    <div class="row content__row content__row--airportinfo">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
            <div class="row mb-5">
              <div class="col-md-6 col-lg-12">
                <h3 class="title text-dark visible-sm-down visible-lg-up">Charles de Gaulle Airport</h3>
                {{ macros.map() }}
              </div>
              <div class="col-md-6 col-lg-12">
                <h3 class="title text-dark hidden-sm-down hidden-lg-up">Charles de Gaulle Airport</h3>
                <p class="font-weight-bold pt-3">Name: Charles de Gaulle Airport<br>
                IATA: CDG<br>
                ICAO: LFPG<br>Address: 95700 Roissy-en-France<br>
                Zipcode:<br>
                Residence: Paris<br>
                Country: France<br>
                Alias: Roissy, Charles de Gaulle</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="text-block">
              <h3 class="title text-dark">About Paris Charles de Gaulle Airport</h3>
              <div class="readmore">
                {{ common.airport_text | safe }}
              </div>
            </div>
            <div class="text-block">
              <h3 class="title text-dark">About Paris Charles de Gaulle Airport</h3>
              <div class="readmore">
                {{ common.airport_text | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ macros.content__row_about() }}
    {{ macros.content__row_aroundglobe() }}
  </article>
{% endblock %}


{% block footer_colophon %}
{% endblock %}


{% block body_end %}
  <!-- @dev begin: just for demo -->
  {% include 'layouts/partials/mock-autocomplete.njk' %}
  <script>(function($){var a=$('#ui-autocomplete-from').hide();$('#from_address').focus(function(){a.show()}).focusout(function(){a.hide()});}($));</script>
  <!-- @dev end: just for demo -->
{% endblock %}