{% extends 'layouts/default.njk' %}

{% block body_class %}page--payment-confirmation{% endblock %}

{% block content %}
  <div class="booking__steps booking__steps--3b">
    <div class="container">
      {{ macros.booking__breadcrumbs([
        { text: 'Vehicle', url: 'transfer.html', status: 'done' },
        { text: 'Register', url: 'register.html', status: 'done' },
        { text: 'Payment', url: 'payment.html', status: 'done' }
      ])}}
      <div class="row">
        <div class="col-12 booking__step confirmation" id="confirmation">
          <div class="text-center">
            <img src="images/icons/check-circle.svg" class="my-3" width="40">
            <h2 class="booking__step-heading">Your booking is complete!</h2>
          </div>
        </div>
      </div>
      <div class="row confirmation__summary">
        <div class="col-md-5 col-lg-5 offset-lg-1 text-lg-center">
          <h3 class="title--small">Reservation number:</h3>
          <p>28472028971KH</p>
        </div>
        <div class="col-md-7 col-lg-5 text-lg-center">
          <h3 class="title--small">A confirmation email has been sent to:</h3>
          <p>mail@gmail.com</p>
          <div class="text-muted">Check your spam folder.</div>
        </div>
      </div>
      <div class="row confirmation__addflight hidden-md-up">
        <div class="col">
          <strong>Add your flight number to your booking:</strong>
          <p>Based on your flight number our partners are able to monitor your flight and, if possible, re-schedule your transfer.</p>
          <form class="form-validate form-inline form-inline--always">
            <input type="text" class="form-control mr-2" id="flight_number">
            <button type="submit" class="btn btn-accent">Send</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-md-5">
          {{ macros.booking__summary(true, true) }}
        </div>
      </div>
    </div>
    <div class="container-fluid confirmation__end">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="row">
                <div class="col-md-6">
                  <div class="confirmation__addflight hidden-sm-down">
                    <p><strong>Add your flight number to your booking:</strong></p>
                    <p>Based on your flight number our partners are able to monitor your flight and, if possible, re-schedule your transfer.</p>
                    <form class="form-validate form-inline form-inline--always">
                      <input type="text" class="form-control mr-2" id="flight_number">
                      <button type="submit" class="btn btn-accent">Send</button>
                    </form>
                  </div>
                  <div class="confirmation__register">
                    <h3 class="title--small">Save time on your next booking?:</h3>
                    <p>Create a T2A account for faster bookings.</p>
                    <form class="form-validate">
                      <div class="form-group has-feedback">
                        <label for="password" class="control-label">Create password:</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                      </div>
                      <div class="form-group has-feedback">
                        <label for="password_confirm" class="control-label">Retype password:</label>
                        <input type="password" name="password_confirm" id="password_confirm" class="form-control" required>
                      </div>
                      <button class="btn btn-accent">Create Account</button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="confirmation__reminders">
                    <h3 class="title--small">Some helpful reminders:</h3>
                    <p><strong>Stuck in customs?</strong></p>
                    <p>You have a free waiting time of 60 minutes after your scheduled pickup time at the airport.</p>
                    <p><strong>Additional help?</strong></p>
                    <p>You can call our customer service center 24/7 with any questions or changes to your reservation.</p>
                    {{ macros.country_phone_link('English', 'gb', '+31 883 188 331', 'unbordered') }}
                    <a href="#"><b>or visit our Support Page</b></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="hidden-sm-down">
    {% block footer_colophon %}
      <div class="container-fluid">
        {{ macros.content__row_subscribe(common) }}
      </div>
    {% endblock %}
    {% block footer_above %}
    {% endblock %}
    {% block footer_bottom %}
      {% include 'layouts/partials/footer.njk' %}
    {% endblock %}
  </div>
{% endblock %}
