{% extends 'layouts/customer.njk' %}

{% block body_class %}page--customer page--customer-tripdetail{% endblock %}

{% block content %}
  {{ macros.customer__hello() }}
  {{ macros.customer__tabs(common.customer.tabs, 'customer-transfers') }}
  <article class="container-fluid customer__content bg-grey">
    <div class="row">
      <div class="container customer__container--narrow">
        <div class="row tripdetail">
          <div class="col-12 col-lg-10 offset-lg-1 tripdetail__back">
            <a href="customer-transfers.html" class="btn btn-link link-iconed">
              <i class="icon icon-arrow_back"></i> <span><!--Back--></span>
            </a>
            <div class="hidden-md-up">
              {{ macros.tripdetail__actions() }}
            </div>
          </div>
          <div class="col-12 col-lg-10 offset-lg-1 tripdetail__col">
            <div class="tripdetail__content bg-white">
              <div class="tripdetail__bar tripdetail__bar--header hidden-sm-down">
                <h3 class="title--light">Transfer Receipt</h3>
                {{ macros.tripdetail__actions() }}
              </div>
              <div class="tripdetail__body">
                <div class="row">
                  <div class="col-md-6 tripdetail__from">
                    {{ macros.booking__summary_pickup() }}
                  </div>
                  <div class="col-md-6 tripdetail__to">
                    {{ macros.booking__summary_destination() }}
                  </div>
                </div>
                {{ macros.booking__summary_vehicle(add_options=false) }}
                {{ macros.booking__summary_payment() }}
              </div>
              <div class="tripdetail__bar tripdetail__bar--footer">
                {{ macros.tripdetail__actions() }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
