{% extends 'layouts/customer.njk' %}

{% block body_class %}page--customer page--customer-transfers{% endblock %}

{% block content %}
  {{ macros.customer__hello() }}
  {{ macros.customer__tabs(common.customer.tabs, 'customer-transfers') }}
  <article class="container-fluid customer__content bg-grey">
    <div class="row">
      <div class="container">
        <div class="row">
          {% for transfer in common.transfers %}
            {{ macros.card_transfer(transfer, 'col-md-6') }}
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
