{% extends 'layouts/customer.njk' %}

{% block body_class %}page--customer page--customer-dashboard{% endblock %}

{% block content %}
  {{ macros.customer__hello() }}
  {{ macros.customer__tabs(common.customer.tabs, 'customer-dashboard') }}
  <article class="container-fluid customer__content bg-grey">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="title--light">Upcoming transfers</h3>
            <div class="row">
              {{ macros.card_transfer(common.transfers[0], 'col-md-6') }}
            </div>
            <h3 class="title--light">Recent transfers <a href="#">View all</a></h3>
            <div class="row">
              {% for transfer in common.transfers %}
                {{ macros.card_transfer(transfer, 'col-md-6') }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  {{ macros.customer__footer() }}
{% endblock %}
