{% extends 'layouts/customer.njk' %}

{% block body_class %}page--customer page--customer-profile{% endblock %}

{% block content %}
  {{ macros.customer__hello() }}
  {{ macros.customer__tabs(common.customer.tabs, 'customer-profile') }}
  <article class="container-fluid customer__content bg-grey">
    <div class="row">
      <form class="container customer__container--narrow form-validate">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">
            <h3 class="title--light">Update Profile</h3>
            <div class="row customer__block">
              <div class="col-md-6">
                {{ macros.form_group('first_name', 'First name:', 'i.e. John', 'text', required=true) }}
                {{ macros.form_group('email', 'Email address:', 'i.e. john@mail.com', 'email', required=true) }}
                {{ macros.form_group('meet_sign', 'Meet & Greet Sign:', 'i.e. M. DeFazio', 'text') }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('last_name', 'Last name:', 'i.e. Smith', 'text', required=true) }}
                {{ macros.form_group__phone() }}
              </div>
              <div class="col-12">
                <a class="customer__block-action" href="#">Change Password</a>
              </div>
            </div>
            <h3 class="title--light">Update Payment Method</h3>
            <div class="row customer__block">
              <div class="col-12 paymentmethod">
                <div class="paymentmethod__info">
                  <p class="title--small">Visa</p>
                  <p>xxxx-xxxx-xxxx-4212</p>
                </div>
                <div class="paymentmethod__remove">
                  <button class="btn btn-outline-secondary">Remove</button>
                </div>
              </div>
              <div class="col-12">
                <a class="customer__block-action link-iconed" href="#"><span>Add Payment</span> <i class="icon icon-add"></i></a>
              </div>
            </div>
            <h3 class="title--light">Newsletter Subscription</h3>
            <div class="row customer__block">
              <div class="col-12">
                {{ macros.form_group__newsletter() }}
              </div>
            </div>
            <div class="pt-4">
              <button class="btn btn-lg btn-accent">Update Profile</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>
{% endblock %}
