{% extends 'layouts/default.njk' %}

{% block body_class %}page--faq{% endblock %}

{% block content %}
  <article class="container-fluid page">
    <header class="row page__header page__header--grey">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="page__header-title">Frequently Asked Questions</h1>
          </div>
        </div>
        {{ macros.page__toc(common.faqs, 'hidden-lg-up') }}
      </div>
    </header>
    <div class="row content__row content__row--faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 faq">
            {{ macros.content__faq_group(common.faqs[0]) }}
          </div>
          <div class="col-lg-6 faq">
            {{ macros.content__faq_group(common.faqs[1]) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 faq">
            {{ macros.content__faq_group(common.faqs[2]) }}
          </div>
          <div class="col-lg-6 faq">
            {{ macros.content__faq_group(common.faqs[3]) }}
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block footer %}
  {% block footer_colophon %}
    <div class="container-fluid">
      {{ macros.content__row_subscribe(common) }}
    </div>
  {% endblock %}
  {% block footer_bottom %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}

