{% extends 'layouts/default.njk' %}

{% block body_class %}page--home{% endblock %}

{% block content %}
  <article class="container-fluid">
    <div class="row content__row content__row--intro">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="title title--dark intro__title"><mark>Reliable</mark> transfers to and from the airport at low prices.</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 col-lg-7">
            <p class="intro__text hidden-sm-down">Our name might say airport, but we also offer transfer service to train stations and ports.</p>
          </div>
          <div class="col-12 col-md-4 col-lg-5">
            <div class="hidden-md-up">
              {{ macros.certifiedpartner('tui') }}
            </div>
            <img class="intro__img hidden-sm-down" src="images/T2A-Pin-2.gif">
          </div>
        </div>
      </div>
    </div>
    <div id="book" class="row content__row content__row--booking">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            {% include 'layouts/partials/booking-home.njk' %}
          </div>
          <div class="col-md-5 col-lg-5">
            {{ macros.promo('hidden-md-down') }}
            {{ macros.list__with_checkmarks(common.reasons_why) }}
          </div>
        </div>
        {{ macros.partners(['goedIdeeReizen', 'tui', 'kras']) }}
      </div>
    </div>
    {{ macros.content__row_howdoesitwork() }}
    {{ macros.content__row_subscribe(common) }}
    {{ macros.content__row_airports(common.top_airports) }}
  </article>
{% endblock %}

{% block footer_above %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-12 content__col content__col--about">
        {{ macros.content__row_about() }}
      </div>
      <div class="col-md-6 col-lg-12 content__col content__col--aroundglobe">
        {{ macros.content__row_aroundglobe() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block body_end %}
  <!-- @dev begin: just for demo -->
  {% include 'layouts/partials/mock-autocomplete.njk' %}
  <script>(function($){var a=$('#ui-autocomplete-from').hide();$('#from_address').focus(function(){a.show()}).focusout(function(){a.hide()});}($));</script>
  <!-- @dev end: just for demo -->
{% endblock %}