{% extends 'layouts/partner.njk' %}

{% block body_class %}page--join page--join-affiliates{% endblock %}

{% block content %}
  <article class="container-fluid">
    <div class="row content__row content__row--intro content__row--bordered">
      <div class="container">
        <div class="row">
          <div class="col-md-5 push-md-7 partnerprogram">
            <img class="partnerprogram__img" src="images/icons/map-pin-red.svg">
            <h2 class="partnerprogram__title">Affliliate Partner Program</h2>
          </div>
          <div class="col-md-7 pull-md-5">
            <h1 class="page__header-title pb-2">Start earning commission through your website.</h1>
            <h3 class="title--small py-3">Signing up is free, easy and instant!</h3>
            <div class="d-flex">
              <a href="#" class="btn btn-wide btn-lg btn-accent">Start now</a>
              <a href="#" class="btn btn-wide btn-lg btn-outline-secondary">Tell me more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--what">
      <div class="container">
        <div class="row">
          <div class="col-12 pb-4">
            <h3 class="title text-dark">What is the Taxi2Airport.com Affiliate Partner Program?</h3>
          </div>
          <div class="col-lg-7">
            <p>The Taxi2Airport.com Affiliate Partner Program gives you the unique opportunity to connect your business to a global taxi booking platform.</p>
            <p>As a partner, you integrate our customer-facing product into your website and in return, earn a favorable commission for each booking made through it.</p>
          </div>
          <div class="col-lg-5">
            {{ macros.list__with_checkmarks(common.what_is_affiliate_list) }}
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-red content__row content__row--offer">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <h5 class="title--small">What do we offer?</h5>
            <h3 class="title h1 mb-3 mb-md-4">Tailor-made for your needs</h3>
          </div>
          {{ macros.feature(icon='phone', title='24/7 Customer Service', text='This is a description of this selling point') }}
          {{ macros.feature(icon='graph-bar', title='Custom reports & Analytics', text='This is a description of this selling point') }}
          {{ macros.feature(icon='meter', title='Optimised for conversion', text='This is a description of this selling point') }}
        </div>
      </div>
    </div>
    {{ macros.content__row_getstarted(bg_class='bg-grey') }}
    {{ macros.content__row_about() }}
  </article>
{% endblock %}
