{% extends 'layouts/partner.njk' %}

{% block body_class %}page--join page--join-driver{% endblock %}

{% block content %}
  <article class="container-fluid">
    <div class="row content__row content__row--intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="page__header-title pb-2">Become a Taxi2Airport Driver</h1>
            <p>TAXI2AIRPORT.COM stands for excellent service and a superb customer experience. We offer an online reservation system for all transfers to and from airports all around the globe (over 50 countries and 200 airports). Thanks to our extensive knowledge in the industry (TAXI2AIRPORT.COM is founded in 2003), we connect both leisure and business travellers to our partners.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--what">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="title text-dark mb-4">No fees</h3>
            <p>Simply register online for free. There are no hidden registration or monthly fees. You take care of the transfers, we'll take care of everything else.</p>
          </div>
          <div class="col-md-4">
            <h3 class="title text-dark mb-4">Technology-driven</h3>
            <p>Recieve a text message when a client’s flight is delayed. Receive a detailed email with all the transfer requests for your registered airports. </p>
          </div>
          <div class="col-md-4">
            <h3 class="title text-dark mb-4">Increase your business</h3>
            <p>We have customers all over the globe.  Fill the empty slots in your schedule and receive weekly or monthly payouts for the completed rides.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--how pt-0 pb-4 hidden-md-up">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="h2 title--light">How it works</h3>
            <ol class="text-big">
              <li>Register your company</li>
              <li>Receive scheduled transfer requests for your selected airports</li>
              <li>Accept the transfers that suit your schedule</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-grey content__row content__row--how hidden-sm-down">
      <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <h5 class="title--small text-lg">How does it work?</h5>
            <h3 class="title title--red h1 mb-3 mb-md-5">Fill the gaps in your schedule</h3>
          </div>
          {{ macros.feature(img='T2A-Mark-black.svg', text='Register your company') }}
          {{ macros.feature(img='icons/device-hand.svg', text='Receive scheduled transfer requests for your selected airports') }}
          {{ macros.feature(img='icons/taxi.svg', text='Accept the transfers that suit your schedule') }}
        </div>
      </div>
    </div>
    {{ macros.content__row_getstarted() }}
  </article>
{% endblock %}
