{% extends 'layouts/default.njk' %}

{% block body_class %}page--login{% endblock %}

{% block content %}
  <div class="container booking__steps booking__steps--2b">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-lg-5 offset-lg-2">
        <div class="my-4">
          {{ macros.booking__backnext('Back', 'register.html') }}
        </div>
        <form class="form-validate booking__login">
          <h2 class="h4 text-dark font-sans font-weight-normal">Login into your T2A account:</h2>
          {{ macros.form_group('email', 'Email address:', 'i.e. john@mail.com', 'email', required=true, error_msg='This is an error message') }}
          {{ macros.form_group('password', 'Password:', '', 'password', required=true) }}
          {{ macros.form_group('remember', 'Remember me', type='checkbox') }}
          <div class="mt-3 mb-5">
            <nav class="booking__backnext justify-content-between">
              <a href="#" class="btn btn-link">Need help?</a>
              <a href="customer-dashboard.html" class="btn btn-lg btn-accent">Login</a>
            </nav>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
