{% extends 'layouts/default.njk' %}

{% block body_class %}page--options{% endblock %}

{% block content %}
  <div class="container booking__steps booking__steps--1b">
    {{ macros.booking__breadcrumbs([
      { text: 'Vehicle', url: 'options.html', status: 'active' },
      { text: 'Register', url: 'register.html', status: '' },
      { text: 'Payment', url: 'payment.html', status: '' }
    ])}}
    <div class="row">
      <div class="col-lg-8">
        {{ macros.booking__backnext('Back', 'transfer.html') }}
        <form class="booking__step" id="vehicles">
          <h2 class="booking__step-heading">Choose your vehicle</h2>
          <ol class="booking__vehicles">
            {{ macros.booking__vehicle('Sedan', true, '38', '51', '1-3', '4', true)}}
          </ol>
        </form>
        <form class="booking__step hidden-md-down" id="options">
          <h2 class="booking__step-heading booking__step-heading--light mt-5 mb-4">Additional options</h2>
          {{ macros.booking__options(common.booking_options) }}
        </form>
        {{ macros.booking__backnext('Back', 'transfer.html', 'Payment Info', 'payment.html', 'my-4 hidden-md-down') }}
      </div>

      <div id="sidebar" class="col-lg-4 booking__sidebar">
        {{ macros.booking__summary(true) }}
        {{ macros.booking__backnext('Back', 'transfer.html', 'Payment Info', 'payment.html', 'mt-5 hidden-lg-up') }}
        <form class="booking__step hidden-lg-up" id="options">
          <h2 class="booking__step-heading booking__step-heading--light mt-5 mb-4">Additional options</h2>
          {{ macros.booking__options(common.booking_options) }}
        </form>
        {{ macros.booking__backnext('Back', 'transfer.html', 'Payment Info', 'payment.html', 'my-4 hidden-lg-up') }}
        {{ macros.content__row_checkmarks(common, false, 'hidden-md-down') }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% block footer_colophon %}
    {{ macros.colophon(common, false) }}
    <div class="container-fluid">
      {{ macros.content__row_checkmarks(common, true, 'hidden-lg-up') }}
      {{ macros.content__row_subscribe(common) }}
    </div>
  {% endblock %}
  {% block footer_above %}
  {% endblock %}
  {% block footer_bottom %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}
