{% extends 'layouts/default.njk' %}

{% block body_class %}page--payment{% endblock %}

{% block content %}
  <div class="container booking__steps booking__steps--3">
    {{ macros.booking__breadcrumbs([
      { text: 'Vehicle', url: 'transfer.html', status: 'done' },
      { text: 'Register', url: 'register.html', status: 'done' },
      { text: 'Payment', url: 'payment.html', status: 'active' }
    ])}}
    <div class="row">
      <div class="col">
        {{ macros.booking__backnext('Back', 'options.html') }}
        <form class="form-validate booking__step" id="payment">
          <h2 class="booking__step-heading">Complete Payment</h2>
          <div class="row payment__row">
            <div class="col-12 col-lg-7">
              <div class="payment__chooser">
                <h4 class="payment__heading">Choose the amount to pay now:</h4>
                <div class="payment__amount">
                  <label>
                    <input type="radio" name="amount_now" value="100" checked>
                    <div class="btn btn-lg">100%</div>
                    <div class="form-text">Pay nothing in the taxi!</div>
                  </label>
                  <label>
                    <input type="radio" name="amount_now" value="15">
                    <div class="btn btn-lg">15%</div>
                    <div class="form-text">Remainder to driver</div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row payment__row">
            <div class="col-md-6 push-md-6 col-lg-5 push-lg-6">
              <div class="payment__secure">
                <img class="payment__secure-icon" src="images/icons/secure.svg" width="30"> <p>Your payment runs through secure servers</p>
                <img src="images/secure.png" class="hidden-sm-down">
              </div>
            </div>
            <div class="col-md-6 pull-md-6 col-lg-5 pull-lg-5 offset-lg-1">
              <div class="payment__fields">
                <h4 class="payment__heading">Choose your payment method:</h4>
                <div class="form-group">
                  <select name="card_type" id="card_type" class="form-control" required>
                    <option value="visa" selected>Visa</option>
                    <option value="mastercard">Mastercard</option>
                  </select>
                </div>
                <div class="form-group has-feedback">
                  <label for="card_name" class="control-label">Name on card:</label>
                  <input type="email" name="card_name" id="card_name" class="form-control" placeholder="i.e. Smith" required>
                </div>
                <div class="form-group has-feedback">
                  <label for="card_number" class="control-label">Card number:</label>
                  <input type="email" name="card_number" id="card_number" class="form-control" placeholder="i.e. Smith" required>
                </div>
                <div class="form-group has-feedback">
                  <div class="row">
                    <div class="col-7 payment__expiration">
                      <label for="phone_prefix" class="control-label">Expiration Date:</label>
                      <div class="row">
                        <div class="col-5">
                          <select name="expire_month" id="expire_month" class="form-control" placeholder="MM" required>
                            {% for month in ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
                            <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-7">
                          <span class="payment__expiration-divider"> / </span>
                          <select name="expire_year" id="expire_year" class="form-control" placeholder="YYYY" required>
                            {% for year in ['2017','2018','2019','2020','2021','2022','2023'] %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 payment__ccv">
                      <label for="ccv" class="control-label">CCV:</label>
                      <input type="number" name="ccv" id="ccv" class="form-control" maxlength="3" placeholder="xxx" required>
                      <small class="form-text mt-2"><b><a href="#">Need Help?</a></b></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
              {{ macros.booking__backnext('Back', 'options#options.html', 'Complete Booking', 'confirmation.html', 'mt-4 mb-5') }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="hidden-sm-down">
    {% block footer_colophon %}
      {{ macros.colophon(common, false) }}
      <div class="container-fluid">
        {{ macros.content__row_checkmarks(common, true, 'hidden-lg-up') }}
        {{ macros.content__row_subscribe(common) }}
      </div>
    {% endblock %}
    {% block footer_above %}
    {% endblock %}
    {% block footer_bottom %}
      {% include 'layouts/partials/footer.njk' %}
    {% endblock %}
  </div>
{% endblock %}
