{% extends 'layouts/default.njk' %}

{% block body_class %}page--referral{% endblock %}

{% block content %}
  <article class="container-fluid page">
    <header class="row page__header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="page__header-title">Refer a friend</h1>
            <p>Earn rewards towards your next booking!</p>
          </div>
        </div>
      </div>
    </header>
    <div class="row content__row content__row--referactions">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="title--small">Invite your friends</h3>
            <p>Send a discount code to your friend for 10% off their first booking.</p>
          </div>
          <div class="col-md-4">
            <h3 class="title--small">Earn credits</h3>
            <p>After your friend has completed their booking, you will receive credits in your T2A balance towards your next booking</p>
          </div>
          <div class="col-md-4">
            <h3 class="title--small">Repeat with more friends</h3>
            <p>Continue to invite as many friends. As long as they are new customers, you will continue receiveing credits.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--senddiscount pt-0">
      <form class="container bg-warning">
        <div class="row py-4 py-sm-5">
          <div class="col-12 col-sm-10 offset-sm-1">
            <h3 class="title--small text-danger pb-2">Send a discount code</h3>
            <div class="row">
              <div class="col-md-6">
                {{ macros.form_group('first_name', 'Your name:', 'i.e. John', 'text', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('email', 'Your email:', 'i.e. john@mail.com', 'email', required=true) }}
              </div>
              <div class="col-12 hidden-md-up py-3"></div>
              <div class="col-md-6">
                {{ macros.form_group('to_email', 'To email:', 'i.e. John', 'text', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('to_name', 'To Name:', 'i.e. John', 'text', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('preferred_time', 'Language:', '- Select language -', 'select', required=true) }}
              </div>
              <div class="col-12 pt-2">
                <button class="btn btn-accent btn-wide">Send</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row content__row content__row--balancecustomer bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4 content__col--balance">
            <h3 class="title--small">Your current Balance</h3>
            <p>This is your current balance per currency.  If you need another currency for booking, please <a href="contact.html">contact us.</a></p>
            {{ macros.list__table([['CHF', '0'], ['EUR', '0'], ['GBP', '0'], ['USD', '0'], ['DKK', '0'], ['JPY', '0']]) }}
          </div>
          <div class="col-sm-5 offset-sm-1 col-lg-7 offset-lg-1 content__col--customer">
            <h3 class="title text-dark pb-4">Customer Service</h3>
            <div class="row">
              {% for lang in common.languages %}
                {{ macros.country_phone_link(lang.name, lang.code, '+31 883 188 331', wrapper_classes='col-lg-6') }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block footer_colophon %}{% endblock %}
