{% extends 'layouts/default.njk' %}

{% block body_class %}page--register{% endblock %}

{% block content %}
  <div class="container booking__steps booking__steps--2">
    {{ macros.booking__breadcrumbs([
      { text: 'Vehicle', url: 'options.html', status: 'done' },
      { text: 'Register', url: 'register.html', status: 'active' },
      { text: 'Payment', url: 'payment.html', status: '' }
    ])}}
    <div class="row booking__register">
      <form class="col form-validate">
        {{ macros.booking__backnext('Back', 'options.html') }}
        <div class="row">
          <div class="col-md-6 col-lg-5 booking__register-btns">
            <div>
              <h2 class="booking__step-heading">Register with Taxi2Airport</h2>
              <a href="login.html" class="btn btn-block btn-lg btn-accent btn-iconed">
                <i class="icon icon-profile"></i> I'm a returning T2A customer
              </a>
              <button class="btn btn-block btn-lg btn-fb btn-iconed my-3">
                <i class="icon icon-brand-facebook"></i> Continue with Facebook
              </button>
              <button class="btn btn-block btn-lg btn-google btn-iconed">
                <i class="icon icon-brand-google-plus"></i> Continue with Google
              </button>
            </div>
            {{ macros.booking__backnext('Back', 'options#options.html', false, false, 'mt-5 pb-0 hidden-md-down') }}
          </div>
          <div class="col-md-6 col-lg-5 booking__register-guest">
            <h2 class="booking__step-heading">Continue as guest</h2>
            {{ macros.form_group('first_name', 'First name:', 'i.e. John', 'text', required=true) }}
            {{ macros.form_group('last_name', 'Last name:', 'i.e. Smith', 'text', required=true) }}
            {{ macros.form_group('email', 'Email address:', 'i.e. john@mail.com', 'email', required=true, error_msg='This is an error message') }}
            {{ macros.form_group__phone() }}
            {{ macros.form_group__newsletter() }}
            {{ macros.form_group('input_terms', 'I agree with the <a href="#" tabindex="-1"><u>Terms And Conditions', type='checkbox', required=true) }}
            {{ macros.booking__backnext(false, false, 'Next Step', 'payment.html', 'mt-5 pb-0 hidden-md-down') }}
          </div>
        </div>
        {{ macros.booking__backnext('Back', 'options#options.html', 'Next Step', 'payment.html', 'col my-5 hidden-lg-up') }}
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="hidden-sm-down">
    {% block footer_colophon %}
      {{ macros.colophon(common, false) }}
      <div class="container-fluid">
        {{ macros.content__row_checkmarks(common, true, 'hidden-lg-up') }}
        {{ macros.content__row_subscribe(common) }}
      </div>
    {% endblock %}
    {% block footer_above %}
    {% endblock %}
    {% block footer_bottom %}
      {% include 'layouts/partials/footer.njk' %}
    {% endblock %}
  </div>
{% endblock %}
