{% extends 'layouts/default.njk' %}

{% block body_class %}page--support{% endblock %}

{% block content %}
  <article class="container-fluid page">
    <header class="row page__header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="page__header-title">Customer Support</h1>
          </div>
        </div>
      </div>
    </header>
    <div class="row content__row content__row--bordered content__row--contactfaq">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Please contact us if you have any questions regarding either making a booking or your existing booking(s). We are available by phone (during typical business hours (CEST)) or you might send us a message. We typically respond within 8 business hours.</p>
          </div>
          <div class="col-md-5 offset-md-1 font-weight-bold hidden-sm-down">
            <p>Frequently Asked Questions</p>
            <ul class="list-unstyled">
              <li><a class="d-block pb-1" href="faq.html#modifications_cancellations">Modifications / Cancellations</a></li>
              <li><a class="d-block py-1" href="faq.html#payment">Payment</a></li>
              <li><a class="d-block py-1" href="faq.html#booking_details">Booking Details</a></li>
              <li><a class="d-block py-1" href="faq.html#communications">Communications</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--bordered content__row--iwantto">
      <div class="container">
        <div class="row content__links">
          <div class="col-12">
            <h3 class="title">I want to</h3>
          </div>
          <div class="col-md-8 col-lg-7">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5">
                <a href="">Schedule a taxi</a>
                <a href="login.html">Access my bookings</a>
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                <a href="join-driver.html">Become a T2A driver</a>
                <a href="join-agents.html">Include T2A in my agency offerings</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-5">
            <a href="join-affiliates.html">Become an affiliate</a>
            <a href="">Redeem a code</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--faqmobile hidden-md-up">
      <div class="container">
        <div class="row content__links">
          <div class="col-12">
            <h3 class="title">Frequently Asked Questions</h3>
            <a href="faq.html#modifications_cancellations">Modifications / Cancellations</a>
            <a href="faq.html#payment">Payment</a>
            <a href="faq.html#booking_details">Booking Details</a>
            <a href="faq.html#communications">Communications</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--call">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-7">
            <h3 class="title text-dark pb-4">Call us:</h3>
            <div class="row">
              {% for lang in common.languages %}
                {{ macros.country_phone_link(lang.name, lang.code, '+31 883 188 331', wrapper_classes='col-lg-6') }}
              {% endfor %}
            </div>
          </div>
          <form class="col-md-7 col-lg-5">
            <h3 class="title text-dark pt-5 pt-md-0 pb-4">Call me back</h3>
            {{ macros.form_group('first_name', 'First name:', 'i.e. John', 'text', required=true) }}
            {{ macros.form_group__phone() }}
            {{ macros.form_group('preferred_time', '', '- Select preferred time -', 'select', required=true) }}
            <button type="submit" class="btn btn-accent">Call me back</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row content__row content__row--message">
      <div class="container">
        <div class="row">
          <form class="col-lg-7">
            <h3 class="title text-dark pb-4">Send us a message</h3>
            <div class="row">
              <div class="col-md-6">
                {{ macros.form_group('first_name', 'First name:', 'i.e. John', 'text', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('last_name', 'Last name:', 'i.e. Smith', 'text', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('email', 'Email address:', 'i.e. john@mail.com', 'email', required=true) }}
              </div>
              <div class="col-md-6">
                {{ macros.form_group('booking_number', 'Booking number:', 'TA-00000-00', 'text', optional=true) }}
              </div>
              <div class="col-md-9">
                {{ macros.form_group('message', 'Message:', 'Your message', 'textarea', required=true, rows="7") }}
              </div>
            </div>
            <button type="submit" class="btn btn-accent">Send</button>
          </form>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block footer_colophon %}{% endblock %}
