{% extends 'layouts/default.njk' %}

{% block body_class %}page--transfer{% endblock %}

{% block content %}
  <div class="container booking__steps booking__steps--1a">
    {{ macros.booking__breadcrumbs([
      { text: 'Vehicle', url: 'transfer.html', status: 'active' },
      { text: 'Register', url: 'options.html', status: '' },
      { text: 'Payment', url: 'payment.html', status: '' }
    ])}}
    <div class="row">
      <div class="col-lg-8">
        {{ macros.booking__backnext('Back', '#book') }}
        <form class="booking__step">
          <h2 class="booking__step-heading">Choose your vehicle</h2>
          <ol class="booking__vehicles">
            {{ macros.booking__vehicle('Sedan', true, '38', '51', '1-3', '4')}}
            {{ macros.booking__vehicle('Exclusive', false, '51', '63', '1-3', '4')}}
          </ol>
          <div class="booking__vehicles-larger">
            <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#booking__vehicles--large" aria-expanded="false">Need a larger vehicle? <i class="icon"></i></button>
          </div>
          <ol class="booking__vehicles collapse" id="booking__vehicles--large">
            {{ macros.booking__vehicle('Minibus', false, '85', '98', '2-6', '8')}}
            {{ macros.booking__vehicle('Touringcar', false, '358', '399', '8-20', '30')}}
          </ol>
        </form>
      </div>
      <div id="sidebar" class="col-lg-4 booking__sidebar">
        {{ macros.booking__summary() }}
        {{ macros.booking__backnext('Back', '#book', 'Next Step', 'options.html#options', 'mt-4 hidden-lg-up') }}
        {{ macros.content__row_checkmarks(common, false, 'hidden-md-down') }}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% block footer_colophon %}
    {{ macros.colophon(common, false) }}
    <div class="container-fluid">
      {{ macros.content__row_checkmarks(common, true, 'hidden-lg-up') }}
      {{ macros.content__row_subscribe(common) }}
    </div>
  {% endblock %}
  {% block footer_above %}
  {% endblock %}
  {% block footer_bottom %}
    {% include 'layouts/partials/footer.njk' %}
  {% endblock %}
{% endblock %}

