<!-- partial: booking -->
<form class="booking form-validate">
  <!-- partialarea: form::tabs -->
  <div class="booking__where">
    <h3 class="booking__title">Schedule your taxi:</h3>
    <div class="row">
      <div class="col-11">
        {{ macros.form_group('from_address', 'Pick up:', 'Address, place or airport', 'text', required=true) }}
        {{ macros.form_group('to_address', 'Destination:', 'Address, place or airport', 'text', required=true) }}
      </div>
      <div class="col-1 booking__switch" title="Switch"></div>
    </div>
  </div>
  <div class="booking__when">
    <h3 class="booking__title">When: <span class="booking__title-sub">Choose your pick up time</span></h3>
    <div class="row">
      {{ macros.form_group__booking_date('date_outbound') }}
      {{ macros.form_group__booking_time('time_outbound') }}
    </div>
  </div>
  <div class="booking__who">
    <h3 class="booking__title">Passengers:</h3>
    <div class="form-group form-group--passengers">
      <label class="control-label-custom">
        <input type="radio" class="form-control" name="passengers" value="1-3" checked>
        <div class="btn form-control-custom"><i class="icon icon-persons"></i> 1-3</div>
      </label>
      <label class="control-label-custom">
        <input type="radio" class="form-control" name="passengers" value="4-10">
        <div class="btn form-control-custom"><i class="icon icon-persons"></i> 4-10</div>
      </label>
      <label class="control-label-custom">
        <input type="radio" class="form-control" name="passengers" value="11+">
        <div class="btn form-control-custom"><i class="icon icon-persons"></i> 11+</div>
      </label>
    </div>
  </div>
  <div class="bookin__roundtrip">
    <div class="form-group">
      <div class="checkbox">
        <input type="checkbox" name="round_trip" id="round_trip" class="styled" data-toggle="collapse" data-target="#booking__return" aria-expanded="false">
        <label class="control-label" for="round_trip">Book a round trip</label>
      </div>
    </div>
  </div>
  {# {{ macros.form_group('round_trip', 'Book a round trip', type='checkbox') }} #}
  <div id="booking__return" class="booking__return collapse">
    <h3 class="booking__title">Return: <span class="booking__title-sub">Choose your pick up time</span></h3>
    <div class="row">
      {{ macros.form_group__booking_date('date_return') }}
      {{ macros.form_group__booking_time('time_return') }}
    </div>
  </div>
  <!-- partialarea: form::submit -->
  <div class="form-group">
    <!-- @dev: this should be  a <button type="submit"></button> -->
    <a href="transfer.html" class="btn btn-lg btn-accent btn-block">Search for fares</a>
  </div>
  <p class="text-center booking__info">You will be able to customise your order on the next screen</p>
</form>
<!-- endpartial: booking -->
