<!-- partial: footer -->
<footer class="footer">
  <div class="container">
    <div class="row footer__top">
      <div class="col-md-6">
        <img src="images/T2A-white.svg" alt="Taxi2airport logo" width="206">
      </div>
      <div class="col-md-6 footer__top-links text-md-right hidden-sm-down">
        <a href="">Schedule a taxi</a>
        <a href="login.html">Login</a>
      </div>
      <div class="col-md-6 footer__top-links text-md-right hidden-md-up">
        <a href="#">Customer Service</a>
        <a href="about.html">About Us</a>
      </div>
    </div>
    <nav class="row footer__middle">
      <div class="col-md-4 hidden-sm-down">
        <h4 class="footer__list-title">Support</h4>
        <ul class="footer__list">
          <li><a class="footer__list-link" href="#">Customer Service</a></li>
          <li><a class="footer__list-link" href="faq.html">FAQs</a></li>
          <li><a class="footer__list-link" href="#">Feedback</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="footer__list-title">Work with us</h4>
        <ul class="footer__list">
          <li><a class="footer__list-link" href="join-driver.html">Become a Partner</a></li>
          <li><a class="footer__list-link" href="join-affiliates.html">Become an Affiliate</a></li>
          <li class="hidden-md-up"><a class="footer__list-link" href="join-agents.html">Partner login</a></li>
          <li><a class="footer__list-link" href="#">Careers</a></li>
          <li class="hidden-sm-down"><a class="footer__list-link" href="about.html">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="footer__list-title">Legal</h4>
        <ul class="footer__list">
          <li><a class="footer__list-link" href="#">Terms and conditions</a></li>
          <li><a class="footer__list-link" href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </nav>
    <div class="row footer__bottom">
      <div class="col">
        <strong><small>&copy; 2003 - <span id="copy-year">2017</span> by Taxi2airport B.V.
        <br>All rights reserved</small></strong>
      </div>
    </div>
  </div>
</footer>
<!-- endpartial: footer -->
