<!-- partial: header -->
<header class="header">
  <nav class="navbar navbar-toggleable-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right btn js-offcanvas-trigger" data-offcanvas-trigger="mobilemenu" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        Menu
      </button>
      <div class="navbar-header">
        <a href="" class="navbar-brand">taxi2airport.com <img class="logo" src="images/T2A-color.svg" alt=""></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="">Schedule a taxi</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_support" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
            <div class="dropdown-menu" aria-labelledby="navbar_support">
              <a class="dropdown-item" href="support.html">Customer support</a>
              <a class="dropdown-item" href="#modal__editbooking" data-toggle="modal">Edit booking</a>
              <a class="dropdown-item" href="#modal__changepassword" data-toggle="modal">Change password</a>
              <a class="dropdown-item" href="#modal__saveprofile" data-toggle="modal">Save profile</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbar_workwithus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work with us</a>
            <div class="dropdown-menu" aria-labelledby="navbar_workwithus">
              <a class="dropdown-item" href="join-driver.html">Become a Partner</a>
              <a class="dropdown-item" href="join-affiliates.html">Become an Affiliate</a>
              <a class="dropdown-item" href="join-agents.html">Partner login</a>
            </div>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto navbar__login">
        <li class="nav-item">
          <a class="nav-link" href="login.html"><i class="icon icon-profile"></i> Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- endpartial: header -->