<!-- partial: mobilemenu -->
<aside id="mobilemenu" class="js-offcanvas mobilemenu" data-offcanvas-options='{ "modifiers": "right,push" }'>
  <button class="js-offcanvas-close btn mobilemenu__close"><i class="icon icon-close"></i></button>
  <nav>
    <div class="mobilemenu__lang">
      <div class="mobilemenu__lang-current" data-toggle="collapse" data-target="#lang-selector">
        <i class="flagsvg flagsvg-gb"></i> <span class="mobilemenu__lang-text">English</span> <i class="icon"></i>
      </div>
      <div id="lang-selector" class="mobilemenu__lang-list collapse">
        {% for lang in common.languages %}
          {% if lang.code !== 'gb' %}
          <a class="mobilemenu__lang-link" href="#{{ lang.code }}" title="{{ lang.name }}">
            <i class="flagsvg flagsvg-{{ lang.code }}"></i> {{ lang.name }}
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <ul class="mobilemenu__list">
      <li class="mobilemenu__item">
        <img class="mobilemenu__img" src="images/T2A-Mark-black.svg"><a href="" class="mobilemenu__link">Schedule a Taxi</a>
      </li>
      <li class="mobilemenu__item">
        <img class="mobilemenu__img" src="images/icons/profile.svg"><a href="login.html" class="mobilemenu__link">Login</a>
      </li>
      <li class="mobilemenu__item">
        <div class="mobilemenu__heading">Support</div>
      </li>
      <li class="mobilemenu__item">
        <a href="" class="mobilemenu__link">Customer Service</a>
      </li>
      <li class="mobilemenu__item">
        <a href="faq.html" class="mobilemenu__link">FAQs</a>
      </li>
      <li class="mobilemenu__item">
        <a href="" class="mobilemenu__link">Feedback</a>
      </li>
      <li class="mobilemenu__item">
        <div class="mobilemenu__heading">Work with us</div>
      </li>
      <li class="mobilemenu__item">
        <a href="join-driver.html" class="mobilemenu__link">Become a Partner</a>
      </li>
      <li class="mobilemenu__item">
        <a href="join-affiliates.html" data-toggle="modal" class="mobilemenu__link" title="Become an Affiliate">Edit booking</a>
      </li>
      <li class="mobilemenu__item">
        <a href="join-partner.html" data-toggle="modal" class="mobilemenu__link" title="Careers">Change password</a>
      </li>
      <li class="mobilemenu__item">
        <a href="#modal__saveprofile" data-toggle="modal" class="mobilemenu__link" title="Save profile (modal sample)">Save profile</a>
      </li>
    </ul>
  </nav>
</aside>
<!-- endpartial: mobilemenu -->